@*@model Sjuklöner.Viewmodels.AssistantClaimVM*@

@{
    ViewBag.Title = "Administration";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <p class="page-header7 col col-md-12 left-margin-12">Administration av e-tjänsten för sjuklöner</p>
    </div>
    <hr class="claim-divider" />
    <div class="row">
        <p class="col col-md-10 left-margin-12">@Html.ActionLink("Administrera handläggare", "IndexAdmOff", "Account")</p>
    </div>

    <div class="row">
        <p class="col col-md-10 left-margin-12">@Html.ActionLink("Administrera kollektivavtal", "Index", "CollectiveAgreements")</p>
    </div>

    <div class="row">
        <p class="col col-md-10 left-margin-12">@Html.ActionLink("Administrera ansökningar", "Index", "Claims")</p>
    </div>

    <div class="row">
        <p class="col col-md-10 left-margin-12">@Html.ActionLink("Administrera assistansbolag", "Index", "CareCompanies")</p>
    </div>

    <div class="row">
        <p class="col col-md-10 left-margin-12">@Html.ActionLink("Administrera ombud", "IndexOmbud", "CareCompanies")</p>
    </div>

    <div class="row">
        <p class="col col-md-10 left-margin-12">@Html.ActionLink("Administrera assistenter", "IndexAllCompanies", "Assistants")</p>
    </div>    

    <div class="row">
        <p class="col col-md-10 left-margin-12">@Html.ActionLink("Konfigurera e-tjänsten", "Index", "Home")</p>
    </div>
}

