@model Sjuklöner.Viewmodels.ClaimDetailsOmbudVM

@{
    ViewBag.Title = "ClaimDetailsPdf";
}

<body>
    <div class="row">
        <p class="col col-md-offset-2 page-header9">Ansökan</p>
    </div>
    <div class="row">
        <p class="col col-md-offset-2 display-padding bold-14">Referensnummer: @Model.ReferenceNumber</p>
    </div>
    <div class="row">
        @if ((User.IsInRole("Ombud") && @Model.StatusName == "Inkorgen") || (User.IsInRole("Ombud") && @Model.StatusName == "Under handläggning"))
        {
            <p class="col col-md-offset-2 display-padding bold-14">Status: Under handläggning</p>
        }
        else if (User.IsInRole("Ombud"))
        {
            <p class="col col-md-offset-2 display-padding bold-14">Status: @Model.StatusName, steg @Model.CompletionStage</p>
        }
        else if (User.IsInRole("AdministrativeOfficial") || User.IsInRole("Admin"))
        {
            <p class="col col-md-offset-2 display-padding bold-14">Status: @Model.StatusName</p>
        }
    </div>
    <div class="form-horizontal">
        @if (Model.CompletionStage > 4)
    {
        <div class="row">
            <div class="col col-md-offset-2 col-md-10 form-group-div-frame">
                <div class="row form-group-heading">
                    Kommentarer
                </div>
                <div class="row form-group">
                    <div class="col col-md-2">
                        <label>Datum</label>
                    </div>
                    <div class="col col-md-2">
                        <label>Användare</label>
                    </div>
                    <div class="col col-md-8">
                        <label>Kommentar</label>
                    </div>
                </div>
            </div>
        </div>
}

        @if (Model.CompletionStage >= 1)
    {
        <div class="row">
            <div class="col col-md-2">
            </div>
            <div class="col col-md-9 form-group-div-frame">
                <div class="row form-group-heading">
                    Kommun
                </div>

                <table class="table2">
                    <tr>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.Council)
                        </th>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.Administration)
                        </th>
                    </tr>
                    <tr row-divider>
                        <td>
                            @Html.DisplayFor(model => model.Council)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Administration)
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        @*<div class="row">
            <div class="col col-md-2">
            </div>
            <div class="col col-md-9 form-group-div-frame">
                <div class="row form-group-heading">
                    Kommun
                </div>
                <div class="row">
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.Council, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                            </div>
                            <div class="row display-padding">
                                @Html.DisplayFor(m => m.Council)
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.Administration, htmlAttributes: new { @class = "control-label-left-align2 col-md-12" })
                            </div>
                            <div class="row display-padding6">
                                @Html.DisplayFor(m => m.Administration)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col col-md-2">
            </div>
            <div class="col col-md-9 form-group-div-frame">
                <div class="row form-group-heading">
                    Assistansberättigad
                </div>
                <table class="table2">
                    <tr>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.CustomerName)
                        </th>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.CustomerSSN)
                        </th>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.CustomerPhoneNumber)
                        </th>
                    </tr>
                    <tr row-divider>
                        <td>
                            @Html.DisplayFor(model => model.CustomerName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.CustomerSSN)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.CustomerPhoneNumber)
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        @*<div class="row">
            <div class="col col-md-2">
            </div>
            <div class="col col-md-9 form-group-div-frame">
                <div class="row form-group-heading">
                    Assistansberättigad
                </div>
                <div class="row">
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                            </div>
                            <div class="row display-padding">
                                @Html.DisplayFor(m => m.CustomerName)
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.CustomerSSN, htmlAttributes: new { @class = "control-label-left-align2 col-md-12" })
                            </div>
                            <div class="row display-padding6">
                                @Html.DisplayFor(m => m.CustomerSSN)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.CustomerPhoneNumber, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                            </div>
                            <div class="row display-padding">
                                @Html.DisplayFor(modelItem => Model.CustomerPhoneNumber)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col col-md-2">
            </div>
            <div class="col col-md-9 form-group-div-frame">
                <div class="row form-group-heading">
                    Ombud/uppgiftslämnare
                </div>
                <table class="table2">
                    <tr>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.OmbudName)
                        </th>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.OmbudPhoneNumber)
                        </th>
                    </tr>
                    <tr row-divider>
                        <td>
                            @Html.DisplayFor(model => model.OmbudName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.OmbudPhoneNumber)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        @*<div class="row">
            <div class="col col-md-2">
            </div>
            <div class="col col-md-9 form-group-div-frame">
                <div class="row form-group-heading">
                    Ombud/uppgiftslämnare
                </div>
                <div class="row">
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.OmbudName, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                            </div>
                            <div class="row display-padding">
                                @Html.DisplayFor(m => m.OmbudName)
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.OmbudPhoneNumber, htmlAttributes: new { @class = "control-label-left-align2 col-md-12" })
                            </div>
                            <div class="row display-padding6">
                                @Html.DisplayFor(m => m.OmbudPhoneNumber)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col col-md-2">
            </div>
            <div class="col col-md-9 form-group-div-frame">
                <div class="row form-group-heading">
                    Assistansanordnare
                </div>
                <table class="table2">
                    <tr>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.CompanyName)
                        </th>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.OrganisationNumber)
                        </th>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.CompanyAddress)
                        </th>
                    </tr>
                    <tr row-divider>
                        <td>
                            @Html.DisplayFor(model => model.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.OrganisationNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.CompanyAddress)
                        </td>
                    </tr>
                </table>
                <br/>
                <table class="table2">
                    <tr>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.CompanyPhoneNumber)
                        </th>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.GiroNumber)
                        </th>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.CollectiveAgreement)
                        </th>
                    </tr>
                    <tr row-divider>
                        <td>
                            @Html.DisplayFor(model => model.CompanyPhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.GiroNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.CollectiveAgreement)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        @*<div class="row">
            <div class="col col-md-2">
            </div>
            <div class="col col-md-9 form-group-div-frame">
                <div class="row form-group-heading">
                    Assistansanordnare
                </div>
                <div class="row">
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                            </div>
                            <div class="row display-padding">
                                @Html.DisplayFor(m => m.CompanyName)
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.OrganisationNumber, htmlAttributes: new { @class = "control-label-left-align2 col-md-12" })
                            </div>
                            <div class="row display-padding6">
                                @Html.DisplayFor(m => m.OrganisationNumber)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.CompanyAddress, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                            </div>
                            <div class="row display-padding">
                                @Html.DisplayFor(m => m.CompanyAddress)
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.CompanyPhoneNumber, htmlAttributes: new { @class = "control-label-left-align2 col-md-12" })
                            </div>
                            <div class="row display-padding6">
                                @Html.DisplayFor(m => m.CompanyPhoneNumber)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.GiroNumber, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                            </div>
                            <div class="row display-padding">
                                @Html.DisplayFor(m => m.GiroNumber)
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.CollectiveAgreement, htmlAttributes: new { @class = "control-label-left-align2 col-md-12" })
                            </div>
                            <div class="row display-padding6">
                                @Html.DisplayFor(m => m.CollectiveAgreement)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col col-md-2">
            </div>
            <div class="col col-md-9 form-group-div-frame">
                <div class="row form-group-heading">
                    Insjuknad ordinarie assistent
                </div>
                <table class="table2">
                    <tr>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.RegAssistantName)
                        </th>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.RegAssistantSSN)
                        </th>
                    </tr>
                    <tr row-divider>
                        <td>
                            @Html.DisplayFor(model => model.RegAssistantName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.RegAssistantSSN)
                        </td>
                    </tr>
                </table>
                <br/>
                <table class="table2">
                    <tr>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.RegPhoneNumber)
                        </th>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.RegEmail)
                        </th>
                    </tr>
                    <tr row-divider>
                        <td>
                            @Html.DisplayFor(model => model.RegPhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.RegEmail)
                        </td>
                    </tr>
                </table>
                <br/>
                <table class="table2">
                    <tr>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.QualifyingDayDate)
                        </th>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.LastDayOfSicknessDate)
                        </th>
                    </tr>
                    <tr row-divider>
                        <td>
                            @Html.DisplayFor(model => model.QualifyingDayDate)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.LastDayOfSicknessDate)
                        </td>
                    </tr>
                </table>
                <br/>
                <table class="table2">
                    <tr>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.SickPayRateAsString)
                        </th>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.HolidayPayRateAsString)
                        </th>                        
                    </tr>
                    <tr row-divider>
                        <td>
                            @Html.DisplayFor(model => model.SickPayRateAsString)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.HolidayPayRateAsString)
                        </td>                        
                    </tr>
                </table>
                <br/>
                <table class="table2">
                    <tr>                       
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.SocialFeeRateAsString)
                        </th>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.PensionAndInsuranceRateAsString)
                        </th>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.HourlySalaryAsString)
                        </th>
                    </tr>
                    <tr row-divider>                        
                        <td>
                            @Html.DisplayFor(model => model.SocialFeeRateAsString)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.PensionAndInsuranceRateAsString)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.HourlySalaryAsString)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        @*<div class="row">
            <div class="col col-md-2">
            </div>
            <div class="col col-md-9 form-group-div-frame">
                <div class="row form-group-heading">
                    Insjuknad ordinarie assistent
                </div>
                <div class="row">
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.RegAssistantName, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                            </div>
                            <div class="row display-padding">
                                @Html.DisplayFor(m => m.RegAssistantName)
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.RegAssistantSSN, htmlAttributes: new { @class = "control-label-left-align2 col-md-12" })
                            </div>
                            <div class="row display-padding6">
                                @Html.DisplayFor(m => m.RegAssistantSSN)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.RegPhoneNumber, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                            </div>
                            <div class="row display-padding">
                                @Html.DisplayFor(m => m.RegPhoneNumber)
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.RegEmail, htmlAttributes: new { @class = "control-label-left-align2 col-md-12" })
                            </div>
                            <div class="row display-padding6">
                                @Html.DisplayFor(m => m.RegEmail)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.QualifyingDayDate, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                            </div>
                            <div class="row display-padding">
                                @Html.DisplayFor(m => m.QualifyingDayDate)
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.LastDayOfSicknessDate, htmlAttributes: new { @class = "control-label-left-align2 col-md-12" })
                            </div>
                            <div class="row display-padding6">
                                @Html.DisplayFor(m => m.LastDayOfSicknessDate)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.SickPayRateAsString, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                            </div>
                            <div class="row display-padding">
                                @Html.DisplayFor(modelItem => Model.SickPayRateAsString)
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.HolidayPayRateAsString, htmlAttributes: new { @class = "control-label-left-align2 col-md-12" })
                            </div>
                            <div class="row display-padding6">
                                @Html.DisplayFor(m => m.HolidayPayRateAsString)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.SocialFeeRateAsString, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                            </div>
                            <div class="row display-padding">
                                @Html.DisplayFor(m => m.SocialFeeRateAsString)
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.PensionAndInsuranceRateAsString, htmlAttributes: new { @class = "control-label-left-align2 col-md-12" })
                            </div>
                            <div class="row display-padding6">
                                @Html.DisplayFor(modelItem => Model.PensionAndInsuranceRateAsString)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.HourlySalaryAsString, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                            </div>
                            <div class="row display-padding">
                                @Html.DisplayFor(modelItem => Model.HourlySalaryAsString)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col col-md-2">
            </div>
            <div class="col col-md-9 form-group-div-frame">
                <div class="row form-group-heading">
                    Vikarierande assistent
                </div>
                <table class="table2">
                    <tr>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.SubAssistantName)
                        </th>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.SubAssistantSSN)
                        </th>
                    </tr>
                    <tr row-divider>
                        <td>
                            @Html.DisplayFor(model => model.SubAssistantName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.SubAssistantSSN)
                        </td>
                    </tr>
                </table>
                <br/>
                <table class="table2">
                    <tr>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.SubPhoneNumber)
                        </th>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.SubEmail)
                        </th>
                    </tr>
                    <tr row-divider>
                        <td>
                            @Html.DisplayFor(model => model.SubPhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.SubEmail)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        @*<div class="row">
            <div class="col col-md-2">
            </div>
            <div class="col col-md-9 form-group-div-frame">
                <div class="row form-group-heading">
                    Vikarierande assistent
                </div>
                <div class="row">
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.SubAssistantName, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                            </div>
                            <div class="row display-padding">
                                @Html.DisplayFor(m => m.SubAssistantName)
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.SubAssistantSSN, htmlAttributes: new { @class = "control-label-left-align2 col-md-12" })
                            </div>
                            <div class="row display-padding6">
                                @Html.DisplayFor(m => m.SubAssistantSSN)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.SubPhoneNumber, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                            </div>
                            <div class="row display-padding">
                                @Html.DisplayFor(m => m.SubPhoneNumber)
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.SubEmail, htmlAttributes: new { @class = "control-label-left-align2 col-md-12" })
                            </div>
                            <div class="row display-padding6">
                                @Html.DisplayFor(m => m.SubEmail)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
}


        @if (Model.CompletionStage >= 2)
    {
        <div class="row">
            <div class="col col-md-2">
            </div>
            <div class="col col-md-9 form-group-div-frame">
                <div class="row form-group-heading">
                    Antal timmar, ordinarie assistent
                </div>
                <table class="table2">
                    <tr>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.NumberOfAbsenceHours)
                        </th>
                    </tr>
                    <tr row-divider>
                        <td>
                            @Html.DisplayFor(model => model.NumberOfAbsenceHours)
                        </td>
                    </tr>
                </table>
                <table class="table2">
                    <tr>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.NumberOfUnsocialHours)
                        </th>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.NumberOfOnCallHours)
                        </th>
                    </tr>
                    <tr row-divider>
                        <td>
                            @Html.DisplayFor(model => model.NumberOfUnsocialHours)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.NumberOfOnCallHours)
                        </td>
                    </tr>
                </table>
                <br />
                @*<div class="row">
                <div class="col col-md-2">
                </div>
                <div class="col col-md-9 form-group-div-frame">
                    <div class="row form-group-heading">
                        Antal timmar, ordinarie assistent
                    </div>
                    <div class="row">

                        <div class="col col-md-5">
                            <div class="form-group line-height-12">
                                <div class="row label-padding">
                                    @Html.LabelFor(model => model.NumberOfAbsenceHours, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                                </div>
                                <div class="row display-padding">
                                    @Html.DisplayFor(m => m.NumberOfAbsenceHours)
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-5">
                            <div class="form-group line-height-12">
                                <div class="row label-padding">
                                    @Html.LabelFor(model => model.NumberOfUnsocialHours, htmlAttributes: new { @class = "control-label-left-align2 col-md-12" })
                                </div>
                                <div class="row display-padding6">
                                    @Html.DisplayFor(m => m.NumberOfUnsocialHours)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-5">
                            <div class="form-group line-height-12">
                                <div class="row label-padding">
                                    @Html.LabelFor(model => model.NumberOfOnCallHours, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                                </div>
                                <div class="row display-padding">
                                    @Html.DisplayFor(m => m.NumberOfOnCallHours)
                                </div>
                            </div>
                        </div>
                    </div>*@
                <table class="table2">
                    <tr>
                        <th class="claimpdf-manycol row-divider">
                            Datum
                        </th>
                        <th class="claimpdf-manycol row-divider">
                            Arbetade timmar
                        </th>
                        <th class="claimpdf-manycol row-divider">
                            Varav OB, kväll
                        </th>
                        <th class="claimpdf-manycol row-divider">
                            Varav OB, natt
                        </th>
                        <th class="claimpdf-manycol row-divider">
                            Varav OB, helg
                        </th>
                        <th class="claimpdf-manycol row-divider">
                            Varav OB, storhelg
                        </th>
                        <th class="claimpdf-manycol row-divider">
                            Jour, dag
                        </th>
                        <th class="claimpdf-manycol row-divider">
                            Jour, natt/helg
                        </th>
                        <th></th>
                    </tr>
                    @for (int i = 0; i < Model.NumberOfSickDays; i++)
                {
                    <tr row-divider>
                        <td>
                            @Html.DisplayFor(m => m.ClaimDays[i].DateString)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.ClaimDays[i].Hours)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.ClaimDays[i].UnsocialEvening)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.ClaimDays[i].UnsocialNight)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.ClaimDays[i].UnsocialWeekend)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.ClaimDays[i].UnsocialGrandWeekend)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.ClaimDays[i].OnCallDay)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.ClaimDays[i].OnCallNight)
                        </td>
                    </tr>
            }
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-2">
            </div>
            <div class="col col-md-9 form-group-div-frame">
                <div class="row form-group-heading">
                    Antal timmar, vikarierande assistent
                </div>
                <table class="table2">
                    <tr>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.NumberOfHoursWithSI)
                        </th>
                    </tr>
                    <tr row-divider>
                        <td>
                            @Html.DisplayFor(model => model.NumberOfHoursWithSI)
                        </td>
                    </tr>
                </table>
                <table class="table2">
                    <tr>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.NumberOfUnsocialHoursSI)
                        </th>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.NumberOfOnCallHoursSI)
                        </th>
                    </tr>
                    <tr row-divider>
                        <td>
                            @Html.DisplayFor(model => model.NumberOfUnsocialHoursSI)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.NumberOfOnCallHoursSI)
                        </td>
                    </tr>
                </table>
                <br />

                @*<div class="row">
                <div class="col col-md-2">
                </div>
                <div class="col col-md-9 form-group-div-frame">
                    <div class="row form-group-heading">
                        Antal timmar, vikarierande assistent
                    </div>
                    <div class="row">

                        <div class="col col-md-5">
                            <div class="form-group line-height-12">
                                <div class="row label-padding">
                                    @Html.LabelFor(model => model.NumberOfHoursWithSI, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                                </div>
                                <div class="row display-padding">
                                    @Html.DisplayFor(m => m.NumberOfHoursWithSI)
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-5">
                            <div class="form-group line-height-12">
                                <div class="row label-padding">
                                    @Html.LabelFor(model => model.NumberOfUnsocialHoursSI, htmlAttributes: new { @class = "control-label-left-align2 col-md-12" })
                                </div>
                                <div class="row display-padding6">
                                    @Html.DisplayFor(m => m.NumberOfUnsocialHoursSI)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-5">
                            <div class="form-group line-height-12">
                                <div class="row label-padding">
                                    @Html.LabelFor(model => model.NumberOfOnCallHoursSI, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                                </div>
                                <div class="row display-padding">
                                    @Html.DisplayFor(m => m.NumberOfOnCallHoursSI)
                                </div>
                            </div>
                        </div>
                    </div>*@
                <table class="table2">
                    <tr>
                        <th class="claimpdf-manycol row-divider">
                            Datum
                        </th>
                        <th class="claimpdf-manycol row-divider">
                            Arbetade timmar
                        </th>
                        <th class="claimpdf-manycol row-divider">
                            Varav OB, kväll
                        </th>
                        <th class="claimpdf-manycol row-divider">
                            Varav OB, natt
                        </th>
                        <th class="claimpdf-manycol row-divider">
                            Varav OB, helg
                        </th>
                        <th class="claimpdf-manycol row-divider">
                            Varav OB, storhelg
                        </th>
                        <th class="claimpdf-manycol row-divider">
                            Jour, dag
                        </th>
                        <th class="claimpdf-manycol row-divider">
                            Jour, natt/helg
                        </th>
                        <th></th>
                    </tr>
                    @for (int i = 0; i < Model.NumberOfSickDays; i++)
                {
                    <tr row-divider>
                        <td>
                            @Html.DisplayFor(m => m.ClaimDays[i].DateString)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.ClaimDays[i].HoursSI)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.ClaimDays[i].UnsocialEveningSI)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.ClaimDays[i].UnsocialNightSI)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.ClaimDays[i].UnsocialWeekendSI)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.ClaimDays[i].UnsocialGrandWeekendSI)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.ClaimDays[i].OnCallDaySI)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.ClaimDays[i].OnCallNightSI)
                        </td>
                    </tr>
            }
                </table>
            </div>
        </div>
}

        @if (Model.CompletionStage >= 3)
    {
        <div class="row">
            <div class="col col-md-2">
            </div>
            <div class="col col-md-9 form-group-div-frame">
                <div class="row form-group-heading">
                    Yrkade belopp
                </div>
                <table class="table2">
                    <tr>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.Sickpay)
                        </th>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.HolidayPay)
                        </th>
                    </tr>
                    <tr row-divider>
                        <td>
                            @Html.DisplayFor(model => model.Sickpay)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.HolidayPay)
                        </td>
                    </tr>
                </table>
                <br/>
                <table class="table2">
                    <tr>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.SocialFees)
                        </th>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.PensionAndInsurance)
                        </th>
                    </tr>
                    <tr row-divider>
                        <td>
                            @Html.DisplayFor(model => model.SocialFees)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.PensionAndInsurance)
                        </td>
                    </tr>
                </table>
                <br />
                @*<div class="row">
                <div class="col col-md-2">
                </div>
                <div class="col col-md-9 form-group-div-frame">
                    <div class="row form-group-heading">
                        Yrkade belopp
                    </div>
                    <div class="row">
                        <div class="col col-md-5">
                            <div class="form-group line-height-12">
                                <div class="row label-padding">
                                    @Html.LabelFor(model => model.Sickpay, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                                </div>
                                <div class="row display-padding">
                                    @Html.DisplayFor(m => m.Sickpay)
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-5">
                            <div class="form-group line-height-12">
                                <div class="row label-padding">
                                    @Html.LabelFor(model => model.HolidayPay, htmlAttributes: new { @class = "control-label-left-align2 col-md-12" })
                                </div>
                                <div class="row display-padding6">
                                    @Html.DisplayFor(m => m.HolidayPay)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-5">
                            <div class="form-group line-height-12">
                                <div class="row label-padding">
                                    @Html.LabelFor(model => model.SocialFees, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                                </div>
                                <div class="row display-padding">
                                    @Html.DisplayFor(m => m.SocialFees)
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-5">
                            <div class="form-group line-height-12">
                                <div class="row label-padding">
                                    @Html.LabelFor(model => model.PensionAndInsurance, htmlAttributes: new { @class = "control-label-left-align2 col-md-12" })
                                </div>
                                <div class="row display-padding6">
                                    @Html.DisplayFor(m => m.PensionAndInsurance)
                                </div>
                            </div>
                        </div>
                    </div>*@
                <div class="row">
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.ClaimSum, htmlAttributes: new { @class = "control-label-left-align control-label-large col-md-12" })
                            </div>
                            <div class="row display-padding">
                                @Html.DisplayFor(m => m.ClaimSum)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}

        @if (Model.DecisionMade == true)
    {
        <div class="row">
            <div class="col col-md-2">
            </div>
            <div class="col col-md-9 form-group-div-frame">
                <div class="row form-group-heading">
                    Beslutade belopp
                </div>
                <div class="col col-md-5">
                    <div class="form-group line-height-12 display-large-font">
                        <div class="row label-padding">
                            @Html.LabelFor(model => model.ApprovedSum)
                        </div>
                    </div>
                </div>
                <div class="col col-md-5">
                    <div class="form-group line-height-12 display-large-font">
                        <div class="row display-padding">
                            @Html.DisplayFor(model => model.ApprovedSum)
                        </div>
                    </div>
                </div>
                <div class="col col-md-5">
                    <div class="form-group line-height-12 display-large-font">
                        <div class="row label-padding">
                            @Html.LabelFor(model => model.RejectedSum)
                        </div>
                    </div>
                </div>
                <div class="col col-md-5">
                    <div class="form-group line-height-12 display-large-font">
                        <div class="row display-padding">
                            @Html.DisplayFor(model => model.RejectedSum)
                        </div>
                    </div>
                </div>
            </div>
        </div>
}

        @if (Model.CompletionStage >= 4)
    {
        <div class="row">
            <div class="col col-md-2">
            </div>
            <div class="col col-md-9 form-group-div-frame">
                <div class="row form-group-heading">
                    Bilagor
                </div>
                <div class="col col-md-5">
                    <div class="form-group line-height-12">
                        <div class="row label-padding">
                            Lönespecifikation, ordinarie
                        </div>
                    </div>
                </div>
                <div class="col col-md-5">
                    <div class="form-group line-height-12">
                        <div class="row label-padding">
                            Sjukfrånvaroanmälan
                        </div>
                    </div>
                </div>
                @if (Model.Documents.Where(d => d.Title == "DoctorsCertificate").Any())
            {
                <div class="col col-md-5">
                    <div class="form-group line-height-12">
                        <div class="row label-padding">
                            Läkarintyg
                        </div>
                    </div>
                </div>
        }
                <div class="col col-md-5">
                    <div class="form-group line-height-12">
                        <div class="row label-padding">
                            Tidsredovisning, Försäkringskassan, ordinarie assistent
                        </div>
                    </div>
                </div>
                <div class="col col-md-5">
                    <div class="form-group line-height-12">
                        <div class="row label-padding">
                            Tidsredovisning, Försäkringskassan, vikarierande assistent
                        </div>
                    </div>
                </div>
            </div>
        </div>
}

        @if (Model.CompletionStage >= 4 && (User.IsInRole("AdministrativeOfficial") || User.IsInRole("Admin")))
    {
        <div class="row">
            <div class="col col-md-2">
            </div>
            <div class="col col-md-9 form-group-div-frame">
                <div class="row form-group-heading">
                    Automatiserade kontroller
                </div>
                <table class="table2">
                    <tr>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.IVOCheck)
                        </th>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.ProxyCheck)
                        </th>
                    </tr>
                    <tr row-divider>
                        <td>
                            @Html.DisplayFor(model => model.IVOCheck)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.ProxyCheck)
                        </td>
                    </tr>
                </table>
                <br />
                <table class="table2">
                    <tr>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.AssistanceCheck)
                        </th>                        
                    </tr>
                    <tr row-divider>
                        <td>
                            @Html.DisplayFor(model => model.AssistanceCheck)
                        </td>                        
                    </tr>
                </table>
                <br />
                <table class="table2">
                    <tr>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.SalarySpecRegAssistantCheckMsg)
                        </th>
                        <th class="claimpdf-col row-divider">
                            @Html.LabelFor(model => model.SalarySpecSubAssistantCheckMsg)
                        </th>
                    </tr>
                    <tr row-divider>
                        <td>
                            @Html.DisplayFor(model => model.SalarySpecRegAssistantCheckMsg)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.SalarySpecSubAssistantCheckMsg)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-2">
            </div>
            <div class="col col-md-9 form-group-div-frame">
                <div class="row form-group-heading">
                    Automatiserade kontroller
                </div>
                <div class="row">
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.IVOCheck, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                            </div>
                            <div class="row display-padding">
                                @Html.DisplayFor(m => m.IVOCheck)
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.ProxyCheck, htmlAttributes: new { @class = "control-label-left-align2 col-md-12" })
                            </div>
                            <div class="row display-padding6">
                                @Html.DisplayFor(m => m.ProxyCheck)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.AssistanceCheck, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                            </div>
                            <div class="row display-padding">
                                @Html.DisplayFor(m => m.AssistanceCheck)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.SalarySpecRegAssistantCheckMsg, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                            </div>
                            <div class="row display-padding">
                                @Html.DisplayFor(m => m.SalarySpecRegAssistantCheckMsg)
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.SalarySpecSubAssistantCheckMsg, htmlAttributes: new { @class = "control-label-left-align2 col-md-12" })
                            </div>
                            <div class="row display-padding6">
                                @Html.DisplayFor(m => m.SalarySpecSubAssistantCheckMsg)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.FKRegAssistantCheckMsg, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                            </div>
                            <div class="row display-padding">
                                @Html.DisplayFor(m => m.FKRegAssistantCheckMsg)
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.FKSubAssistantCheckMsg, htmlAttributes: new { @class = "control-label-left-align2 col-md-12" })
                            </div>
                            <div class="row display-padding6">
                                @Html.DisplayFor(m => m.FKSubAssistantCheckMsg)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.SickleaveNotificationCheckMsg, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                            </div>
                            <div class="row display-padding">
                                @Html.DisplayFor(m => m.SickleaveNotificationCheckMsg)
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.MedicalCertificateCheckMsg, htmlAttributes: new { @class = "control-label-left-align2 col-md-12" })
                            </div>
                            <div class="row display-padding6">
                                @Html.DisplayFor(m => m.MedicalCertificateCheckMsg)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-5">
                        <div class="form-group line-height-12">
                            <div class="row label-padding">
                                @Html.LabelFor(model => model.RejectReason, htmlAttributes: new { @class = "control-label-left-align col-md-12" })
                            </div>
                            <div class="row display-padding">
                                @Html.DisplayFor(m => m.RejectReason)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-12 form-group-div-frame">
                <div class="row form-group-heading">
                    Beräkning av ersättningsbelopp
                </div>
                @for (int i = 0; i < Model.ClaimCalculations.Count(); i++)
            {

                <br />
                <div class="row">
                    <div class="col col-md-12">
                        <div class="row">
                            <div class="col col-md-12 col-small-left-padding2 bold-20">
                                OB- och jourersättningar för perioden @Model.ClaimCalculations[0].StartDate.ToShortDateString() - @Model.ClaimCalculations[i].EndDate.ToShortDateString() enligt kollektivavtalet @Model.CollectiveAgreement
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-4">
                        <div class="row">
                            <div class="col col-md-12 col-small-left-padding2 bold-14">
                                OB-ersättning, kväll, per timme
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="row">
                            <div class="col col-md-8">
                                @Html.DisplayFor(m => m.ClaimCalculations[i].PerHourUnsocialEvening) Kr
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-4">
                        <div class="row">
                            <div class="col col-md-12 col-small-left-padding2 bold-14">
                                OB-ersättning, natt, per timme
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="row">
                            <div class="col col-md-8">
                                @Html.DisplayFor(m => m.ClaimCalculations[i].PerHourUnsocialNight) Kr
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-4">
                        <div class="row">
                            <div class="col col-md-12 col-small-left-padding2 bold-14">
                                OB-ersättning, helg, per timme
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="row">
                            <div class="col col-md-8">
                                @Html.DisplayFor(m => m.ClaimCalculations[i].PerHourUnsocialWeekend) Kr
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-4">
                        <div class="row">
                            <div class="col col-md-12 col-small-left-padding2 bold-14">
                                OB-ersättning, storhelg, per timme
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="row">
                            <div class="col col-md-8">
                                @Html.DisplayFor(m => m.ClaimCalculations[i].PerHourUnsocialHoliday) Kr
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-4">
                        <div class="row">
                            <div class="col col-md-12 col-small-left-padding2 bold-14">
                                Jour-ersättning, dag, per timme
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="row">
                            <div class="col col-md-8">
                                @Html.DisplayFor(m => m.ClaimCalculations[i].PerHourOnCallWeekday) Kr
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-4">
                        <div class="row">
                            <div class="col col-md-12 col-small-left-padding2 bold-14">
                                Jour-ersättning, natt/helg, per timme
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="row">
                            <div class="col col-md-8">
                                @Html.DisplayFor(m => m.ClaimCalculations[i].PerHourOnCallWeekend) Kr
                            </div>
                        </div>
                    </div>
                </div>
                <br />

            if (i == 0)
            {
                <div class="row form-group-subheading">
                    Karensdag, @Model.ClaimCalculations[0].StartDate.ToShortDateString()
                </div>

                <div class="row">
                    <div class="col col-md-12 col-small-left-padding2">
                        För karensdagen tar kontrollberäkningen hänsyn till antalet timmar som överstiger 8,00 av summan av antalet arbetstimmar och jourtimmar. För karensdagen tar kontrollberäkningen också hänsyn till antalet OB-timmar som överstiger 8,00 av summan av antalet OB-timmar av olika slag.
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col col-md-4">
                        <div class="row">
                            <div class="col col-md-12 control-label-left-small-padding">
                                Lön, 80% på ordinarie timlön:
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="row">
                            <div class="col col-md-8">
                                @Model.ClaimCalculations[i].SalaryCalcQD = @Model.ClaimCalculations[i].SalaryQD Kr
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col col-md-4">
                        <div class="row">
                            <div class="col col-md-12 control-label-left-small-padding">
                                OB-ersättning, kväll:
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="row">
                            <div class="col col-md-8">
                                @Model.ClaimCalculations[i].UnsocialEveningPayCalcQD = @Model.ClaimCalculations[i].UnsocialEveningPayQD Kr
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-4">
                        <div class="row">
                            <div class="col col-md-12 control-label-left-small-padding">
                                OB-ersättning, natt:
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="row">
                            <div class="col col-md-8">
                                @Model.ClaimCalculations[i].UnsocialNightPayCalcQD = @Model.ClaimCalculations[i].UnsocialNightPayQD Kr
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-4">
                        <div class="row">
                            <div class="col col-md-12 control-label-left-small-padding">
                                OB-ersättning, helg:
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="row">
                            <div class="col col-md-8">
                                @Model.ClaimCalculations[i].UnsocialWeekendPayCalcQD = @Model.ClaimCalculations[i].UnsocialWeekendPayQD Kr
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-4">
                        <div class="row">
                            <div class="col col-md-12 control-label-left-small-padding">
                                OB-ersättning, storhelg:
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="row">
                            <div class="col col-md-8">
                                @Model.ClaimCalculations[i].UnsocialGrandWeekendPayCalcQD = @Model.ClaimCalculations[i].UnsocialGrandWeekendPayQD Kr
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <hr class="hr-low-margin" />
                    <div class="col col-md-4">
                        <div class="row">
                            <div class="col col-md-12 control-label-left-small-padding">
                                Summa OB-ersättning:
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="row">
                            <div class="col col-md-8">
                                @Model.ClaimCalculations[i].UnsocialSumPayCalcQD = @Model.ClaimCalculations[i].UnsocialSumPayQD Kr
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col col-md-4">
                        <div class="row">
                            <div class="col col-md-12 control-label-left-small-padding">
                                Jour-ersättning, dag:
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="row">
                            <div class="col col-md-8">
                                @Model.ClaimCalculations[i].OnCallDayPayCalcQD = @Model.ClaimCalculations[i].OnCallDayPayQD Kr
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-4">
                        <div class="row">
                            <div class="col col-md-12 control-label-left-small-padding">
                                Jour-ersättning, natt/helg:
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="row">
                            <div class="col col-md-8">
                                @Model.ClaimCalculations[i].OnCallNightPayCalcQD = @Model.ClaimCalculations[i].OnCallNightPayQD Kr
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <hr class="hr-low-margin" />
                    <div class="col col-md-4">
                        <div class="row">
                            <div class="col col-md-12 control-label-left-small-padding">
                                Summa Jour-ersättning:
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="row">
                            <div class="col col-md-8">
                                @Model.ClaimCalculations[i].OnCallSumPayCalcQD = @Model.ClaimCalculations[i].OnCallSumPayQD Kr
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <div class="row">
                    <hr class="hr-low-margin" />
                    <div class="col col-md-4">
                        <div class="row">
                            <div class="col col-md-12 control-label-left-small-padding">
                                Summa sjuklön:
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="row">
                            <div class="col col-md-8">
                                @Model.ClaimCalculations[i].SickPayCalcQD = @Model.ClaimCalculations[i].SickPayQD Kr
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-2 text-right bold-18">
                        @Html.DisplayFor(m => m.ClaimCalculations[i].SickPayQD) Kr
                    </div>
                </div>
                <div class="row">
                    <hr class="hr-low-margin" />
                    <div class="col col-md-4">
                        <div class="row">
                            <div class="col col-md-12 control-label-left-small-padding">
                                Semesterersättning:
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="row">
                            <div class="col col-md-8">
                                @Model.ClaimCalculations[i].HolidayPayCalcQD = @Model.ClaimCalculations[i].HolidayPayQD Kr
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-2 text-right bold-18">
                        @Html.DisplayFor(m => m.ClaimCalculations[i].HolidayPayQD) Kr
                    </div>
                </div>
                <div class="row">
                    <hr class="hr-low-margin" />
                    <div class="col col-md-4">
                        <div class="row">
                            <div class="col col-md-12 control-label-left-small-padding">
                                Lagstadgad arbetsgivaravgift:
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="row">
                            <div class="col col-md-8">
                                @Model.ClaimCalculations[i].SocialFeesCalcQD = @Model.ClaimCalculations[i].SocialFeesQD Kr
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-2 text-right bold-18">
                        @Html.DisplayFor(m => m.ClaimCalculations[i].SocialFeesQD) Kr
                    </div>
                </div>
                <div class="row">
                    <hr class="hr-low-margin" />
                    <div class="col col-md-4">
                        <div class="row">
                            <div class="col col-md-12 control-label-left-small-padding">
                                Avtalade pensioner och försäkringar:
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="row">
                            <div class="col col-md-8">
                                @Model.ClaimCalculations[i].PensionAndInsuranceCalcQD = @Model.ClaimCalculations[i].PensionAndInsuranceQD Kr
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-2 text-right bold-18">
                        @Html.DisplayFor(m => m.ClaimCalculations[i].PensionAndInsuranceQD) Kr
                    </div>
                </div>
                <div class="row">
                    <hr class="hr-low-margin" />
                    <div class="col col-md-4">
                        <div class="row">
                            <div class="col col-md-12 control-label-left-small-padding bold-18">
                                Summa, karensdag:
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="row">
                            <div class="col col-md-8">
                                @Model.ClaimCalculations[i].CostCalcQD = @Model.ClaimCalculations[i].CostQD Kr
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-2 text-right bold-18">
                        @Html.DisplayFor(m => m.ClaimCalculations[i].CostQD) Kr
                    </div>
                </div>
                <br />
            if (Model.NumberOfSickDays > 1)
            {
                <div class="row form-group-subheading">
                    Dag 2 - Dag 14
                </div>
        }
    }

    if (Model.NumberOfSickDays > 1)
    {
        <div>
            @if (i == 0)
        {
            <div class="row form-group-subheading">
                @Model.ClaimCalculations[i].StartDate.AddDays(1).ToShortDateString() - @Model.ClaimCalculations[i].EndDate.ToShortDateString()
            </div>
    }
    else
    {
        <div class="row form-group-subheading">
            @Model.ClaimCalculations[i].StartDate.ToShortDateString() - @Model.ClaimCalculations[i].EndDate.ToShortDateString()
        </div>
}
        </div>
        <br />

        <div class="row">
            <div class="col col-md-4">
                <div class="row">
                    <div class="col col-md-12 control-label-left-small-padding">
                        Lön, 80% på ordinarie timlön:
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="row">
                    <div class="col col-md-8">
                        @Model.ClaimCalculations[i].SalaryCalcD2T14 = @Model.ClaimCalculations[i].SalaryD2T14 Kr
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col col-md-4">
                <div class="row">
                    <div class="col col-md-12 control-label-left-small-padding">
                        OB-ersättning, kväll:
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="row">
                    <div class="col col-md-8">
                        @Model.ClaimCalculations[i].UnsocialEveningPayCalcD2T14 = @Model.ClaimCalculations[i].UnsocialEveningPayD2T14 Kr
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-4">
                <div class="row">
                    <div class="col col-md-12 control-label-left-small-padding">
                        OB-ersättning, natt:
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="row">
                    <div class="col col-md-8">
                        @Model.ClaimCalculations[i].UnsocialNightPayCalcD2T14 = @Model.ClaimCalculations[i].UnsocialNightPayD2T14 Kr
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-4">
                <div class="row">
                    <div class="col col-md-12 control-label-left-small-padding">
                        OB-ersättning, helg:
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="row">
                    <div class="col col-md-8">
                        @Model.ClaimCalculations[i].UnsocialWeekendPayCalcD2T14 = @Model.ClaimCalculations[i].UnsocialWeekendPayD2T14 Kr
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-4">
                <div class="row">
                    <div class="col col-md-12 control-label-left-small-padding">
                        OB-ersättning, storhelg:
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="row">
                    <div class="col col-md-8">
                        @Model.ClaimCalculations[i].UnsocialGrandWeekendPayCalcD2T14 = @Model.ClaimCalculations[i].UnsocialGrandWeekendPayD2T14 Kr
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <hr class="hr-low-margin" />
            <div class="col col-md-4">
                <div class="row">
                    <div class="col col-md-12 control-label-left-small-padding">
                        Summa OB-ersättning:
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="row">
                    <div class="col col-md-8">
                        @Model.ClaimCalculations[i].UnsocialSumPayCalcD2T14 = @Model.ClaimCalculations[i].UnsocialSumPayD2T14 Kr
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col col-md-4">
                <div class="row">
                    <div class="col col-md-12 control-label-left-small-padding">
                        Jour-ersättning, dag:
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="row">
                    <div class="col col-md-8">
                        @Model.ClaimCalculations[i].OnCallDayPayCalcD2T14 = @Model.ClaimCalculations[i].OnCallDayPayD2T14 Kr
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-4">
                <div class="row">
                    <div class="col col-md-12 control-label-left-small-padding">
                        Jour-ersättning, natt/helg:
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="row">
                    <div class="col col-md-8">
                        @Model.ClaimCalculations[i].OnCallNightPayCalcD2T14 = @Model.ClaimCalculations[i].OnCallNightPayD2T14 Kr
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <hr class="hr-low-margin" />
            <div class="col col-md-4">
                <div class="row">
                    <div class="col col-md-12 control-label-left-small-padding">
                        Summa Jour-ersättning:
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="row">
                    <div class="col col-md-8">
                        @Model.ClaimCalculations[i].OnCallSumPayCalcQD = @Model.ClaimCalculations[i].OnCallSumPayQD Kr
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <hr class="hr-low-margin" />
            <div class="col col-md-4">
                <div class="row">
                    <div class="col col-md-12 control-label-left-small-padding">
                        Summa sjuklön:
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="row">
                    <div class="col col-md-8">
                        @Model.ClaimCalculations[i].SickPayCalcD2T14 = @Model.ClaimCalculations[i].SickPayD2T14 Kr
                    </div>
                </div>
            </div>
            <div class="col col-md-2 text-right bold-18">
                @Html.DisplayFor(m => m.ClaimCalculations[i].SickPayD2T14) Kr
            </div>
        </div>
        <div class="row">
            <hr class="hr-low-margin" />
            <div class="col col-md-4">
                <div class="row">
                    <div class="col col-md-12 control-label-left-small-padding">
                        Semesterersättning:
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="row">
                    <div class="col col-md-8">
                        @Model.ClaimCalculations[i].HolidayPayCalcD2T14 = @Model.ClaimCalculations[i].HolidayPayD2T14 Kr
                    </div>
                </div>
            </div>
            <div class="col col-md-2 text-right bold-18">
                @Html.DisplayFor(m => m.ClaimCalculations[i].HolidayPayD2T14) Kr
            </div>
        </div>
        <div class="row">
            <hr class="hr-low-margin" />
            <div class="col col-md-4">
                <div class="row">
                    <div class="col col-md-12 control-label-left-small-padding">
                        Lagstadgad arbetsgivaravgift:
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="row">
                    <div class="col col-md-8">
                        @Model.ClaimCalculations[i].SocialFeesCalcD2T14 = @Model.ClaimCalculations[i].SocialFeesD2T14 Kr
                    </div>
                </div>
            </div>
            <div class="col col-md-2 text-right bold-18">
                @Html.DisplayFor(m => m.ClaimCalculations[i].SocialFeesD2T14) Kr
            </div>
        </div>
        <div class="row">
            <hr class="hr-low-margin" />
            <div class="col col-md-4">
                <div class="row">
                    <div class="col col-md-12 control-label-left-small-padding">
                        Avtalade pensioner och försäkringar:
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="row">
                    <div class="col col-md-8">
                        @Model.ClaimCalculations[i].PensionAndInsuranceCalcD2T14 = @Model.ClaimCalculations[i].PensionAndInsuranceD2T14 Kr
                    </div>
                </div>
            </div>
            <div class="col col-md-2 text-right bold-18">
                @Html.DisplayFor(m => m.ClaimCalculations[i].PensionAndInsuranceD2T14) Kr
            </div>
        </div>
        <div class="row">
            <hr class="hr-low-margin" />
            <div class="col col-md-4">
                <div class="row">
                    @if (Model.ClaimCalculations.Count() == 1)
                {
                    <div class="col col-md-12 control-label-left-small-padding bold-18">
                        Summa, dag 2 till dag 14:
                    </div>
            }
            else
            {
                if (i == 0 && Model.ClaimCalculations[i].NumberOfSickDays == 1)
                {
                    <div class="col col-md-12 control-label-left-small-padding bold-18">
                        Summa, @Model.ClaimCalculations[i].StartDate.AddDays(1).ToShortDateString()
                    </div>
            }
            else if (i == 0 && Model.ClaimCalculations[i].NumberOfSickDays > 1)
            {
                <div class="col col-md-12 control-label-left-small-padding bold-18">
                    Summa, @Model.ClaimCalculations[i].StartDate.AddDays(1).ToShortDateString() - @Model.ClaimCalculations[i].EndDate.ToShortDateString()
                </div>
        }
        else if (Model.ClaimCalculations[i].NumberOfSickDays == 1)
        {
            <div class="col col-md-12 control-label-left-small-padding bold-18">
                Summa, @Model.ClaimCalculations[i].StartDate.ToShortDateString()
            </div>
    }
    else
    {
        <div class="col col-md-12 control-label-left-small-padding bold-18">
            Summa, @Model.ClaimCalculations[i].StartDate.ToShortDateString() - @Model.ClaimCalculations[i].EndDate.ToShortDateString()
        </div>
}
}
                </div>
            </div>
            <div class="col col-md-6">
                <div class="row">
                    <div class="col col-md-8">
                        @Model.ClaimCalculations[i].CostCalcD2T14 = @Model.ClaimCalculations[i].CostD2T14 Kr
                    </div>
                </div>
            </div>
            <div class="col col-md-2 text-right bold-18">
                @Html.DisplayFor(m => m.ClaimCalculations[i].CostD2T14) Kr
            </div>
        </div>
}
}
                <br />
                <div class="row">
                    <hr class="hr-low-margin" />
                    <div class="col col-md-4">
                        <div class="row">
                            <div class="col col-md-12 control-label-left-small-padding form-group-subheading">
                                Summa, sjukperioden:
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="row">
                            <div class="col col-md-8">
                                @Model.TotalCostCalcD1T14 = @Model.TotalCostD1T14 Kr
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-2 text-right bold-18">
                        @Html.DisplayFor(m => m.TotalCostD1T14) Kr
                    </div>
                </div>
                <br />
                <div class="row">

                    @if (Model.DefaultCollectiveAgreement)
                {
                    <div class="row display-padding5">
                        Defaultvärden för OB- och jourersättningar har använts i beräkningen.
                    </div>
            }
                </div>
            </div>
        </div>
}
    </div>
</body>