@model Sjuklöner.Viewmodels.Create4VM
@{
                /**/

                ViewBag.Title = "Bilagor";
}

<div class="row margin-breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item breadcrumb-font">@Html.ActionLink("Ansökningar", "Index", null, new { @class = "breadcrumb-padding" })</li>
            <li class="breadcrumb-item breadcrumb-font">@Html.ActionLink("Personuppgifter och sjukperiod", "Create1", new { refNumber = Model.ClaimNumber }, new { @class = "breadcrumb-padding" })</li>
            <li class="breadcrumb-item breadcrumb-font">@Html.ActionLink("Timmar", "Create2", new { refNumber = Model.ClaimNumber }, new { @class = "breadcrumb-padding" })</li>
            <li class="breadcrumb-item breadcrumb-font">@Html.ActionLink("Belopp", "Create3", new { refNumber = Model.ClaimNumber }, new { @class = "breadcrumb-padding" })</li>
            <li class="breadcrumb-item active breadcrumb-font breadcrumb-padding" aria-current="page">Bilagor</li>
        </ol>
    </nav>
</div>

@using (Html.BeginForm("Create4", "Claims", new { noOfSubAssistants = Model.NumberOfSubAssistants }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ClaimNumber)
    <div class="row">
        <p class="col col-md-2"></p>
        <p class="page-header3 col col-md-10">Ansökan om sjuklöneersättning</p>
        <br>
    </div>
    if (TempData["PdfSuccess"] != null)
    {
        <div class="Event alert alert-success" id="PdfEventOmbudCreate4">
            <h3>
                @TempData["PdfSuccess"]
            </h3>
        </div>
    }
    if (TempData["PdfFail"] != null)
    {
        <div class="Event alert alert-danger" id="PdfEventOmbudCreate4">
            <h3>
                @TempData["PdfFail"]
            </h3>
        </div>
    }
    <div class="row">
        <p class="col col-md-2"></p>
        <p class="col col-md-10 second-page-header2">Steg 4 av 4: Ladda upp bilagor och skicka in ansökan</p>
    </div>
    <div class="row">
        <div class="form-horizontal">
            <div class="row row-height-14">
                <div class="col col-md-2">

                </div>
                <div class="col col-md-10">
                    @Html.DisplayFor(modelItem => Model.RegAssistantSSNAndName)
                </div>
            </div>
            <div class="row row-height-26">
                <div class="col bold-14 label-align-top display-right-align col-md-2">
                    Lönespecifikation, ordinarie assistent
                </div>
                <div class="col-md-10">
                    <input type="file" name="SalaryAttachment" id="SalaryAttachment" class="wide-input btn btn-default" />
                </div>
            </div>
            <div class="row row-height-14 line-height-07">
                <div class="col col-md-offset-2 col-md-10">
                    @Html.ValidationMessageFor(model => model.SalaryAttachment, "", new { @class = "text-danger font-size-11" })
                </div>
            </div>
            <div class="row row-height-14">
            </div>

            @if (Model.NumberOfSickDays > 7)
            {
                <div class="row row-height-26 row-top-margin align-bottom4">
                    <div class="col col-md-2">

                    </div>
                    <div class="col col-md-10">
                        @Html.DisplayFor(modelItem => Model.RegAssistantSSNAndName)
                    </div>
                </div>
                <div class="row row-height-26">
                    <div class="col bold-14 padding-top-10 display-right-align col-md-2">
                        Läkarintyg
                    </div>
                    <div class="col-md-10">
                        <input type="file" name="DoctorsCertificate" id="DoctorsCertificate" class="wide-input btn btn-default" />
                    </div>
                </div>
                <div class="row row-height-14 line-height-07">
                    <div class="col col-md-offset-2 col-md-10">
                        @Html.ValidationMessageFor(model => model.DoctorsCertificate, "", new { @class = "text-danger font-size-11" })
                    </div>
                </div>
                <div class="row row-height-14">
                </div>
            }

            <!--<div class="row row-height-14 row-top-margin align-bottom4">
                <div class="col col-md-2">

                </div>
                <div class="col col-md-10">
                    @Html.DisplayFor(modelItem => Model.RegAssistantSSNAndName)
                </div>
            </div>
            <div class="row row-height-26">
                <div class="col bold-14 padding-top-10 display-right-align col-md-2">
                    Sjukfrånvaroanmälan
                </div>
                <div class="col-md-10">
                    <input type="file" name="SickLeaveNotification" id="SickLeaveNotification" class="wide-input btn btn-default" />
                </div>
            </div>
            <div class="row row-height-14 line-height-07">
                <div class="col col-md-offset-2 col-md-10">
                    @*Html.ValidationMessageFor(model => model.SickLeaveNotification, "", new { @class = "text-danger font-size-11" })*@
                </div>
            </div>
            <div class="row row-height-14">
            </div>-->

            <div class="row row-height-14 row-top-margin align-bottom4">
                <div class="col col-md-2">

                </div>
                <div class="col col-md-10">
                    @Html.DisplayFor(modelItem => Model.RegAssistantSSNAndName)
                </div>
            </div>
            <div class="row row-height-26">
                <div class="col bold-14 label-align-top display-right-align col-md-2">
                    Tidsredovisning, ordinarie assistent
                </div>
                <div class="col-md-10">
                    <input type="file" name="TimeReport" id="TimeReport" class="wide-input btn btn-default" />
                </div>
            </div>
            <div class="row row-height-14 line-height-07">
                <div class="col col-md-offset-2 col-md-10">
                    @Html.ValidationMessageFor(model => model.TimeReport, "", new { @class = "text-danger font-size-11" })
                </div>
            </div>
            <div class="row row-height-14">
            </div>

            @for (int i = 0; i < Model.NumberOfSubAssistants; i++)
            {
                <div class="row row-height-14 row-top-margin align-bottom4">
                    <div class="col col-md-2">

                    </div>
                    <div class="col col-md-10">
                        @Html.DisplayFor(modelItem => Model.SubAssistantSSNAndName[i])
                    </div>
                </div>
                <div class="row row-height-26">
                    @if (Model.NumberOfSubAssistants == 1)
                    {
                        <div class="col-md-2 bold-14-2">
                            Tidsredovisning, vikarierande assistent
                        </div>
                    }
                    else
                    {
                        <div class="col-md-2 bold-14-2">
                            Tidsredovisning, vikarierande assistent @(i + 1)
                        </div>
                    }
                    <div class="col col-md-10">
                        <input type="file" name="TimeReportStandIn" id="TimeReportStandIn" class="wide-input btn btn-default" />
                    </div>
                </div>
                <div class="row row-height-14 line-height-07">
                    <div class="col col-md-offset-2 col-md-10">
                        @Html.ValidationMessageFor(model => model.TimeReportStandIn[i], "", new { @class = "text-danger font-size-11" })
                    </div>
                </div>
                <div class="row row-height-14">
                </div>
            }

            <div class="row row-top-margin">
                <div class="small-padding-left3 col col-md-offset-2 col-md-1">
                    <input class="btn btn-primary btn-primary-small btn-left-margin-10" type="submit" name="submitButton" value="Skicka in" id="proceed" />
                </div>
                <div class="small-padding-left3 col col-md-1">
                    <input class="btn btn-secondary btn-secondary-small btn-left-margin-7" type="submit" name="submitButton" value="Spara" id="save" />
                </div>
                <div class="small-padding-left3 col col-md-1">
                    @Html.ActionLink("Avbryt", "IndexPageOmbud", null, new { @class = "btn btn-secondary btn-secondary-small btn-left-margin-4" })
                </div>
                <div class="small-padding-left3 col col-md-1">
                    @Html.ActionLink(Model.ClaimNumber, "_ShowClaim", new { refNumber = Model.ClaimNumber }, new { @class = "js-show-view-btn btn btn-secondary btn-secondary-small btn-left-margin-1" })
                </div>

                <div class="hidden-by-default" id="claimnumber">@Model.ClaimNumber</div>
                <div id='myModal' class='modal' style="text-align:left;">
                    <div class="modal-dialog" style="width:70%; height:400px; padding:10px;">
                        <div class="modal-content" style="overflow: auto; padding:10px; background-color:#fbf9ef;">
                            <button type="button" id="closbtn" float="right"> Stäng </button>
                            <div style="height:10px;">
                            </div>
                            <div id='myModalContent' style="width:1000px; height:400px; padding:10px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $('#PdfEventOmbudCreate4').delay(4000).hide(1500);
</script>
<script>
    $(function () {
        $(".js-show-view-btn").click(function (e) {
            e.preventDefault();
            var $buttonClicked = $(this);
            var options = {
                "backdrop": "static",
                keyboard: true
            };
            $.ajax({
                method: "GET",
                url: "/Claims/_ShowClaim",
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                data: { refNumber: this.innerHTML },
                cache: false,
                success: function (data, textStatus, jqXHR) {
                    $("#myModalContent").html(data);
                    $("#myModal").modal(options);
                    $("#myModal").modal('show');
                }
            });
        })
        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });
    });
</script>
