@model Sjuklöner.Viewmodels.Create1VM

@{
    ViewBag.Title = "Create1";
}

<div class="row margin-breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item breadcrumb-font">@Html.ActionLink("Ansökningar", "Index", null, new { @class = "breadcrumb-padding" })</li>
            <li class="breadcrumb-item active breadcrumb-font breadcrumb-padding" aria-current="page">Personuppgifter och sjukperiod</li>
        </ol>
    </nav>
</div>

@using (Html.BeginForm("Create1", "Claims", new { refNumber = Model.ClaimNumber }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ClaimNumber)
    @Html.HiddenFor(model => model.OrganisationNumber)
    for (int i = 0; i < Model.AssistantIds.Count(); i++)
    {
        @Html.HiddenFor(model => model.AssistantIds[i])
    }

    <div class="row">
        <p class="col col-md-2"></p>
        <p class="page-header3 col col-md-10">Ansökan om sjuklöneersättning</p>
        <br>
    </div>
    <div class="row">
        <p class="col col-md-2"></p>
        <p class="col col-md-10 second-page-header2">Steg 1 av 4: Ange personuppgifter och sjukperiod</p>
    </div>


    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger font-size-11" })
        <div class="col col-md-6">
            <div class="row row-padding2">
                @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col col-md-4 display-right-align3" })
                <div class="col col-md-8 col-small-left-padding">
                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger font-size-11" })
                </div>
            </div>

            <div class="row row-padding2">
                @Html.LabelFor(model => model.CustomerSSN, htmlAttributes: new { @class = "control-label col col-md-4 display-right-align3" })
                <div class="col col-md-8 col-small-left-padding">
                    @Html.EditorFor(model => model.CustomerSSN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerSSN, "", new { @class = "text-danger font-size-11" })
                </div>
            </div>

            <div class="row row-padding2">
                @Html.LabelFor(model => model.CustomerAddress, htmlAttributes: new { @class = "control-label col col-md-4 display-right-align3" })
                <div class="col col-md-8 col-small-left-padding">
                    @Html.EditorFor(model => model.CustomerAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerAddress, "", new { @class = "text-danger font-size-11" })
                </div>
            </div>

            <div class="row row-padding2">
                @Html.LabelFor(model => model.CustomerPhoneNumber, htmlAttributes: new { @class = "control-label col col-md-4 display-right-align3" })
                <div class="col col-md-8 col-small-left-padding">
                    @Html.EditorFor(model => model.CustomerPhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerPhoneNumber, "", new { @class = "text-danger font-size-11" })
                </div>
            </div>
        </div>

        <div class="col col-md-6">
            <div class="row">
                @Html.LabelFor(model => model.RegularAssistants, htmlAttributes: new { @class = "control-label col-md-4 display-right-align3" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.SelectedRegAssistantId, new SelectList(Model.RegularAssistants, "Value", "Text", Model.SelectedRegAssistantId), "- ingen vald -", new {  @class = "form-control"  })
                    @Html.ValidationMessageFor(model => model.RegularAssistants, "", new { @class = "text-danger font-size-11" })
                </div>
            </div>

            <div class="row row-padding2">
                @Html.LabelFor(model => model.SubstituteAssistants, htmlAttributes: new { @class = "control-label col-md-4 display-right-align3" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.SelectedSubAssistantId, new SelectList(Model.SubstituteAssistants, "Value", "Text", Model.SelectedSubAssistantId), "- ingen vald -", new {  @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SubstituteAssistants, "", new { @class = "text-danger font-size-11" })
                </div>
            </div>

            <div class="row row-padding2">
                @Html.LabelFor(model => model.FirstDayOfSicknessDate, htmlAttributes: new { @class = "control-label col-md-4 display-right-align3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.FirstDayOfSicknessDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstDayOfSicknessDate, "", new { @class = "text-danger font-size-11" })
                </div>
            </div>

            <div class="row row-padding2">
                @Html.LabelFor(model => model.LastDayOfSicknessDate, htmlAttributes: new { @class = "control-label col-md-4 display-right-align2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.LastDayOfSicknessDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastDayOfSicknessDate, "", new { @class = "text-danger font-size-11" })
                </div>
            </div>
        </div>
    </div>




    <div class="row">
        @*<div class="form-horizontal">*@


        @*ORGANISATIONNUMBER NEEDED IN DEMO MODE!!!
                <div class="form-group">
                @Html.LabelFor(model => model.OrganisationNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 align-bottom1">
                    @Html.EditorFor(model => model.OrganisationNumber, new { htmlAttributes = new { placeholder = "", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OrganisationNumber, "", new { @class = "text-danger font-size-11" })
                </div>
            </div>*@

        @*EMAIL OPTIONALLY NEEDED IN DEMO MODE!
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger font-size-11" })
                </div>
            </div>*@

        <div class="row">
            <div class="small-padding-left col col-md-offset-2 col-md-1">
                <input class="btn btn-primary btn-primary-small btn-left-margin-10" type="submit" name="submitButton" value="Till steg 2" id="proceed" />
            </div>
            <div class="small-padding-left3 col col-md-1">
                <input class="btn btn-secondary btn-secondary-small btn-left-margin-5" type="submit" name="submitButton" value="Spara" id="save" />
            </div>
            @if (Model.CompletionStage >= 1)
            {
                <div class="small-padding-left3 col col-md-1">
                    @Html.ActionLink(Model.ClaimNumber, "_ShowClaim", new { refNumber = Model.ClaimNumber }, new { @class = "btn-sm js-show-view-btn btn btn-secondary btn-secondary-small btn-left-margin-5" })
                    @*<a type="button" class="btn btn-secondary btn-secondary-small btn-left-margin-5" href="#" id="loadPartialActionLink">@Model.ClaimNumber</a>*@
                </div>
            }
            <div class="small-padding-left3 col col-md-1">
                @Html.ActionLink("Avbryt", "IndexPageOmbud", null, new { @class = "btn btn-secondary btn-secondary-small" })
            </div>
            @*<div id="AJAXContainer"></div>*@
            <div class="hidden-by-default" id="claimnumber">@Model.ClaimNumber</div>
            <div id='myModal' class='modal' style="text-align:left;">
                <div class="modal-dialog" style="width:70%; height:400px; padding:10px;">
                    <div class="modal-content" style="overflow: auto; padding:10px; background-color:#fbf9ef;">
                        <button type="button" id="closbtn" float="right"> Stäng </button>
                        <div style="height:10px;">
                        </div>
                        <div id='myModalContent' style="width:1000px; height:400px; padding:10px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(function () {
        $(".js-show-view-btn").click(function (e) {
            e.preventDefault();
            var $buttonClicked = $(this);
            var options = {
                "backdrop": "static",
                keyboard: true
            };
            $.ajax({
                method: "GET",
                url: "/Claims/_ShowClaim",
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                data: { refNumber: this.innerHTML },
                cache: false,
                success: function (data, textStatus, jqXHR) {
                    $("#myModalContent").html(data);
                    $("#myModal").modal(options);
                    $("#myModal").modal('show');
                }
            });
        })
        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });
    });
            //$('#loadPartialActionLink').on('click', function (e) {
            //    e.preventDefault();
            //    var claimNumber = document.getElementById("claimnumber");
            //    $.ajax({
            //        type: "GET",
            //        url: '/Claims/_ShowClaim',
            //        data: {
            //            refNumber: claimNumber.innerHTML
            //        },
            //        success: function (data, textStatus, jqXHR) {
            //            $('#AJAXContainer').html(data);
            //        }
            //    });
            //});
</script>
