@model Sjuklöner.Models.Claim

@{
    ViewBag.Title = "Delete";
}
<div class="row index-page-margin">
    <p class="col col-md-2"></p>
    <p class="page-header8 col col-md-10">Ta bort ansökan</p>
    <nl class="col col-md-offset-2 font-size-16">Klicka på "Bekräfta" nedan för att ta bort denna ansökan</nl>
</div>
<hr class="claim-divider" />
<div>
    <div class="row">
        @Html.LabelFor(m => m.ReferenceNumber, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.ReferenceNumber)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(m => m.CustomerSSN, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.CustomerSSN)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(m => m.StatusDate, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.StatusDate)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(m => m.QualifyingDate, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.QualifyingDate)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(m => m.LastDayOfSicknessDate, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.LastDayOfSicknessDate)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(m => m.ClaimedSum, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.ClaimedSum)
        </div>
    </div>

    @using (Html.BeginForm("Delete", "Claims", new { refNumber = Model.ReferenceNumber }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="no-padding-left2 col col-md-offset-2 col-md-1">
                <input type="submit" value="Bekräfta" name="submitButton" class="btn btn-danger btn-danger-small" id="confirm" />
            </div>
            <div class="no-padding-left2 col col-md-1">
                <input class="btn btn-secondary btn-secondary-small" type="submit" name="submitButton" value="Avbryt" id="cancel" />
            </div>
        </div>
    }
</div>
