@model Sjuklöner.Viewmodels.IndexPageAdmOffVM

@{
    ViewBag.Title = "Index";
}
<body>
    <div class="row index-page-margin">
        <p class="page-header12 col col-md-10">Ansökningar</p>
    </div>

    @if (TempData["PdfSuccess"] != null)
    {
        <div class="alert positive-result row" id="PdfEventAdmOff">
            <p class="negative-left-margin10 col col-md-12 line-height-10">@TempData["PdfSuccess"]</p>
        </div>
    }
    @if (TempData["PdfFail"] != null)
    {
        <div class="alert negative-result row" id="PdfEventAdmOffFail">
            <p class="negative-left-margin10 col col-md-12 line-height-10">@TempData["PdfFail"]</p>
        </div>
    }
    <br />
    <br />

    <hr class="claim-divider" />
    @using (Html.BeginForm("IndexPageAdmOff", "Claims", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="row">
            <div class="col col-md-4 second-page-header7">
                Filtrera ansökningar
            </div>
        </div>
        <div class="row filter-row">
            <div class="col col-md-3 align-bottom9">
                @Html.DropDownListFor(model => model.SelectedTimePeriodId, new SelectList(Model.TimePeriods, "Value", "Text", Model.SelectedTimePeriodId), "- Ingen vald tidsperiod -", new { @class = "form-control claim-filter1" })
            </div>
            <div class="col col-md-3 align-bottom9">
                @Html.DropDownListFor(model => model.SelectedKeyId, new SelectList(Model.Keys, "Value", "Text", Model.SelectedKeyId), "- Ingen vald söknyckel -", new { @class = "form-control claim-filter2", id = "searchkey", onchange = "selectSearchKey()" })
            </div>
            <div class="col col-md-3 align-bottom9">
                @Html.EditorFor(model => model.SearchString, new { htmlAttributes = new { placeholder = "Ange söktext här", @class = "form-control claim-filter3", autofocus = "autofocus", id = "searchtext", onchange = "checkValidationError()" } })
            </div>
            <div class="col col-md-2 align-bottom11">
                @Html.EditorFor(model => model.MyClaims, new { htmlAttributes = new { @class = "myclaims-checkbox" } })
                <span class="align-top1">Mina ansökningar</span>
            </div>
            <div class="col col-md-1 col-no-left-padding col-no-right-padding">
                <input type="submit" value="Filtrera" class="btn btn-secondary btn-secondary-small3 align-bottom9" id="filter-btn" onclick="checkIfKeySelected()" />
            </div>
        </div>
        <div class="row row-validation-20 line-height-07">
            <div class="col col-md-2">
            </div>
            <div class="col col-md-8 text-danger font-size-11 filter-error" id="searchstring_butnokey">
            </div>
        </div>
    }

    <hr class="claim-divider2" />
    <div class="row">
        <div class="col">
            @if (Model.InInboxClaims?.Count() > 0 && ((Model.SelectedTimePeriodId != null && Model.SelectedTimePeriodId != 0) || (Model.SelectedKeyId != null && Model.SelectedKeyId != 0) || Model.MyClaims || !string.IsNullOrWhiteSpace(Model.SearchString)))
            {
                <div class="second-page-header8">
                    Inkorg (@Model.NumberOfInboxFiltered av @Model.NumberOfInbox st)
                </div>
                <div class="ordinary-text">
                    @Model.FilterTextInbox
                </div>
            }
            else if (Model.InInboxClaims?.Count() == 0 && ((Model.SelectedTimePeriodId != null && Model.SelectedTimePeriodId != 0) || (Model.SelectedKeyId != null && Model.SelectedKeyId != 0) || Model.MyClaims || !string.IsNullOrWhiteSpace(Model.SearchString)))
            {
                <div class="second-page-header8">
                    Inkorg (@Model.NumberOfInboxFiltered av @Model.NumberOfInbox st)
                </div>
            }
            else
            {
                <div class="second-page-header9">
                    Inkorg (@Model.NumberOfInbox st)
                </div>
            }

            @if (Model.InInboxClaims?.Count() > 0)
            {
                <table class="table">
                    <tr>
                        <th class="small-col-admin">
                            Referensnummer
                        </th>
                        <th class="small-col-admin"></th>
                        <th class="small-col-admin">
                            Handläggare
                        </th>
                        <th class="small-col-admin">
                            Inkommen datum
                        </th>
                        <th class="small-col-admin">
                            Assistansbolag
                        </th>
                        <th class="small-col-admin">
                            Assistentens personnummer
                        </th>
                        @*<th class="small-col-admin">
                        Kundens personnummer
                    </th>*@
                        <th class="ssmall-col-admin">
                            Första kalenderdag
                        </th>
                        <th class="ssmall-col-admin">
                            Sista kalenderdag
                        </th>
                        <th class="small-col-admin">
                            Yrkat belopp (Kr)
                        </th>
                        <th class="small-col-admin">
                            Rek. godkänt belopp (Kr)
                        </th>
                        <th class="small-col-admin">
                            Rek. avslaget belopp (Kr)
                        </th>
                        @*<th class="small-col-admin"></th>
                    <th class="small-col-admin"></th>*@
                    </tr>

                    @foreach (var item in Model.InInboxClaims)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.ReferenceNumber, "Recommend", "Claims", new { id = item.Id }, new { @class = "btn btn-primary btn-primary-small" })
                            </td>
                            <td>
                                @Html.ActionLink("Skapa Pdf", "ClaimDetailsAsPdf", new { refNumber = item.ReferenceNumber }, new { @class = "btn btn-secondary btn-secondary-small" })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AdmOffName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SentInDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RegAssistantSSN)
                            </td>
                            @*<td>
                            @Html.DisplayFor(modelItem => item.CustomerSSN)
                        </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstClaimDayShort)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastClaimDayShort)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClaimedSum)
                            </td>
                            <td class="highlight-green-bold">
                                @Html.DisplayFor(modelItem => item.ApprovedSum)
                            </td>
                            <td class="highlight-red-bold">
                                @Html.DisplayFor(modelItem => item.RejectedSum)
                            </td>
                            @*<td></td>
                        <td></td>*@
                        </tr>
                    }

                </table>
            }
            else if ((Model.SelectedTimePeriodId != null && Model.SelectedTimePeriodId != 0) || (Model.SelectedKeyId != null && Model.SelectedKeyId != 0) || Model.MyClaims || !string.IsNullOrWhiteSpace(Model.SearchString))
            {
                <div class="ordinary-text">
                    Det finns inga ansökningar i inkorgen som uppfyller det valda filtret.
                </div>
            }
            else
            {
                <div class="ordinary-text">
                    Det finns inga ansökningar i inkorgen.
                </div>
            }
        </div>
    </div>

    <hr class="claim-divider2" />
    <div class="row">
        <div class="col">
            @if (Model.UnderReviewClaims?.Count() > 0 && ((Model.SelectedTimePeriodId != null && Model.SelectedTimePeriodId != 0) || (Model.SelectedKeyId != null && Model.SelectedKeyId != 0) || Model.MyClaims || !string.IsNullOrWhiteSpace(Model.SearchString)))
            {
                <div class="second-page-header8">
                    Överförda till Procapita (@Model.NumberOfReviewFiltered av @Model.NumberOfReview st)
                </div>
                <div class="ordinary-text">
                    @Model.FilterTextReview
                </div>
            }
            else if (Model.UnderReviewClaims?.Count() == 0 && ((Model.SelectedTimePeriodId != null && Model.SelectedTimePeriodId != 0) || (Model.SelectedKeyId != null && Model.SelectedKeyId != 0) || Model.MyClaims || !string.IsNullOrWhiteSpace(Model.SearchString)))
            {
                <div class="second-page-header8">
                    Överförda till Procapita (@Model.NumberOfReviewFiltered av @Model.NumberOfReview st)
                </div>
            }
            else
            {
                <div class="second-page-header9">
                    Överförda till Procapita (@Model.NumberOfReview st)
                </div>
            }

            @if (Model.UnderReviewClaims?.Count() > 0)
            {
                <table class="table">
                    <tr>
                        <th class="small-col-admin">
                            Referensnummer
                        </th>
                        <th class="small-col-admin"></th>
                        <th class="small-col-admin">
                            Handläggare
                        </th>
                        <th class="small-col-admin">
                            Inkommen datum
                        </th>
                        <th class="small-col-admin">
                            Assistansbolag
                        </th>
                        <th class="small-col-admin">
                            Assistentens personnummer
                        </th>
                        @*<th class="small-col-admin">
                        Kundens personnummer
                    </th>*@
                        <th class="ssmall-col-admin">
                            Första kalenderdag
                        </th>
                        <th class="ssmall-col-admin">
                            Sista kalenderdag
                        </th>
                        <th class="small-col-admin">
                            Yrkat belopp (Kr)
                        </th>
                        <th class="small-col-admin">
                            Rek. godkänt belopp (Kr)
                        </th>
                        <th class="small-col-admin">
                            Rek. avslaget belopp (Kr)
                        </th>
                        @*<th class="small-col-admin"></th>
                    <th class="small-col-admin"></th>*@
                    </tr>

                    @foreach (var item in Model.UnderReviewClaims)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.ReferenceNumber, "Recommend", "Claims", new { id = item.Id }, new { @class = "btn btn-primary btn-primary-small" })
                            </td>
                            <td>
                                @Html.ActionLink("Skapa Pdf", "ClaimDetailsAsPdf", new { refNumber = item.ReferenceNumber }, new { @class = "btn btn-secondary btn-secondary-small" })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AdmOffName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SentInDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RegAssistantSSN)
                            </td>
                            @*<td>
                            @Html.DisplayFor(modelItem => item.CustomerSSN)
                        </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstClaimDayShort)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastClaimDayShort)
                            </td>
                            @*<td>
                            @Html.DisplayFor(modelItem => item.NumberOfSickDays)
                        </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.ClaimedSum)
                            </td>
                            <td class="highlight-green-bold">
                                @Html.DisplayFor(modelItem => item.ApprovedSum)
                            </td>
                            <td class="highlight-red-bold">
                                @Html.DisplayFor(modelItem => item.RejectedSum)
                            </td>
                            @*<td></td>
                        <td></td>*@
                        </tr>
                    }

                </table>
            }
            else if ((Model.SelectedTimePeriodId != null && Model.SelectedTimePeriodId != 0) || (Model.SelectedKeyId != null && Model.SelectedKeyId != 0) || Model.MyClaims || !string.IsNullOrWhiteSpace(Model.SearchString))
            {
                <div class="ordinary-text">
                    Det finns inga ansökningar som är överförda till Procapita och som uppfyller det valda filtret.
                </div>
            }
            else
            {
                <div class="ordinary-text">
                    Det finns inga ansökningar som är överförda till Procapita.
                </div>
            }
        </div>
    </div>

    <hr class="claim-divider2" />
    <div class="row">
        <div class="col">
            @if (Model.DecidedClaims?.Count() > 0 && ((Model.SelectedTimePeriodId != null && Model.SelectedTimePeriodId != 0) || (Model.SelectedKeyId != null && Model.SelectedKeyId != 0) || Model.MyClaims || !string.IsNullOrWhiteSpace(Model.SearchString)))
            {
                <div class="second-page-header8">
                    Beslutade (@Model.NumberOfDecidedFiltered av @Model.NumberOfDecided st)
                </div>
                <div class="ordinary-text">
                    @Model.FilterTextDecided
                </div>
            }
            else if (Model.DecidedClaims?.Count() == 0 && ((Model.SelectedTimePeriodId != null && Model.SelectedTimePeriodId != 0) || (Model.SelectedKeyId != null && Model.SelectedKeyId != 0) || Model.MyClaims || !string.IsNullOrWhiteSpace(Model.SearchString)))
            {
                <div class="second-page-header8">
                    Beslutade (@Model.NumberOfDecidedFiltered av @Model.NumberOfDecided st)
                </div>
            }
            else
            {
                <div class="second-page-header9">
                    Beslutade (@Model.NumberOfDecided st)
                </div>
            }

            @if (Model.DecidedClaims?.Count() > 0)
            {
                <table class="table">
                    <tr>
                        <th class="small-col-admin">
                            Referensnummer
                        </th>
                        <th class="small-col-admin"></th>
                        <th class="small-col-admin">
                            Handläggare
                        </th>
                        <th class="small-col-admin">
                            Beslutsdatum
                        </th>
                        <th class="small-col-admin">
                            Assistansbolag
                        </th>
                        <th class="small-col-admin">
                            Assistentens personnummer
                        </th>
                        @*<th class="small-col-admin">
                        Kundens personnummer
                    </th>*@
                        <th class="ssmall-col-admin">
                            Första kalenderdag
                        </th>
                        <th class="ssmall-col-admin">
                            Sista kalenderdag
                        </th>
                        <th class="small-col-admin">
                            Yrkat belopp (Kr)
                        </th>
                        <th class="small-col-admin"></th>
                        <th class="small-col-admin"></th>
                    </tr>

                    @foreach (var item in Model.DecidedClaims)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.ReferenceNumber, "Recommend", "Claims", new { id = item.Id }, new { @class = "btn btn-primary btn-primary-small" })
                            </td>
                            <td>
                                @Html.ActionLink("Skapa Pdf", "ClaimDetailsAsPdf", new { refNumber = item.ReferenceNumber }, new { @class = "btn btn-secondary btn-secondary-small" })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AdmOffName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DecisionDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RegAssistantSSN)
                            </td>
                            @*<td>
                            @Html.DisplayFor(modelItem => item.CustomerSSN)
                        </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstClaimDayShort)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastClaimDayShort)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClaimedSum)
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    }

                </table>
            }
            else if ((Model.SelectedTimePeriodId != null && Model.SelectedTimePeriodId != 0) || (Model.SelectedKeyId != null && Model.SelectedKeyId != 0) || Model.MyClaims || !string.IsNullOrWhiteSpace(Model.SearchString))
            {
                <div class="ordinary-text">
                    Du har inga beslutade ansökningar som uppfyller det valda filtret.
                </div>
            }
            else
            {
                <div class="ordinary-text">
                    Du har inga beslutade ansökningar.
                </div>
            }
        </div>
    </div>
    <hr class="claim-divider2" />

</body>
<script type="text/javascript">
    $('#PdfEventAdmOff').delay(10000).hide(0);
    $('#PdfEventAdmOffFail').delay(100000).hide(0);
</script>

