@model Sjuklöner.Viewmodels.IndexPageOmbudVM

@{
    ViewBag.Title = "Index";
}
<body>
    <div class="row index-page-margin">
        <p class="page-header col col-md-10">Ansökningar, ombud</p>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col">
            @Html.ActionLink("Skapa ny ansökan", "Create1", new { claimExists = 1 }, new { @class = "btn btn-primary btn-primary-wide" })
        </div>
    </div>
    <hr class="claim-divider" />
    <div class="row">
        <div class="col">
            <div class="second-page-header">
                Beslutade
            </div>
            @if (Model.DecidedClaims?.Count() > 0)
            {
                <table class="table">
                    <tr>
                        <th class="small-col-ombud">
                            Referensnummer
                        </th>
                        <th class="small-col-ombud">
                            Beslutsdatum
                        </th>
                        <th class="small-col-ombud">
                            Kundens personnummer
                        </th>
                        <th class="small-col-ombud">
                            Första sjukdag
                        </th>
                        <th class="small-col-ombud">
                            Sista sjukdag
                        </th>
                        <th class="medium-col">
                            Yrkat belopp (Kr)
                        </th>
                        <th class="small-col">
                            Godkänt belopp (Kr)
                        </th>
                        <th class="medium-col">
                            Avslaget belopp (Kr)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.DecidedClaims)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.ReferenceNumber, "ShowClaimDetails", "Claims", new { referenceNumber = item.ReferenceNumber }, new { @class = "btn btn-primary btn-primary-small" })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StatusDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerSSN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QualifyingDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastDayOfSicknessDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClaimedSum)
                            </td>
                            <td class="highlight-green-bold">
                                @Html.DisplayFor(modelItem => item.ApprovedSum)
                            </td>
                            <td class="highlight-red-bold">
                                @Html.DisplayFor(modelItem => item.RejectedSum)
                            </td>
                            <td>
                                @*@Html.ActionLink("Uppdatera", "Create", new { id = item.Id }, new { @class = "btn btn-success-small" }) |*@
                                @Html.ActionLink("Ta bort", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-danger-small" })
                                @*@if (item.RejectedSum > 1)
                                {
                                    @Html.ActionLink("Överklaga", "Create", null, new { @class = "btn btn-warning btn-warning-small" })
                                }*@
                                @*@Html.ActionLink("Skicka in", "SaveAmounts", new { id = item.Id }, new { @class = "btn btn-secondary-small" })*@
                            </td>
                        </tr>
                    }

                </table>
            }
            else
            {
                <div class="left-margin-23 font-size-16">
                    Du har inga beslutade ansökningar.
                </div>
                <br />
            }
        </div>
    </div>
    <hr class="claim-divider" />

    <div class="row">
        <div class="col">
            <div class="second-page-header">
                Utkast
            </div>
            @if (Model.DraftClaims?.Count() > 0)
            {
                <table class="table">
                    <tr>
                        <th class="small-col-ombud">
                            Referensnummer
                        </th>
                        <th class="small-col-ombud">
                            Skapad datum
                        </th>
                        <th class="small-col-ombud">
                            Kundens personnummer
                        </th>
                        <th class="small-col-ombud">
                            Första sjukdag
                        </th>
                        <th class="small-col-ombud">
                            Sista sjukdag
                        </th>
                        <th class="medium-col">
                            Yrkat belopp (Kr)
                        </th>
                        <th class="table-button-cell"></th>
                        <th class="table-button-cell"></th>
                        <th class="table-button-cell"></th>
                    </tr>

                    @foreach (var item in Model.DraftClaims)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.ReferenceNumber, "ShowClaimDetails", "Claims", new { referenceNumber = item.ReferenceNumber }, new { @class = "btn btn-primary btn-primary-small" })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StatusDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerSSN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QualifyingDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastDayOfSicknessDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClaimedSum)
                            </td>
                            <td>
                                @Html.ActionLink("Uppdatera", "Create1", new { refNumber = item.ReferenceNumber }, new { @role = "button", @class = "btn btn-secondary btn-secondary-small" })
                            </td>
                            <td>
                                @Html.ActionLink("Ta bort", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-danger-small" })
                            </td>
                            <td>
                                @*@Html.ActionLink("Skicka in", "SaveAmounts", new { id = item.Id }, new { @class = "btn btn-secondary btn-secondary-small" })*@
                                @*@Html.ActionLink("Uppdatera", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Detaljer", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Ta bort", "Delete", new { id = item.Id })*@
                            </td>
                        </tr>
                    }

                </table>
            }
            else
            {
                <div class="left-margin-23 font-size-16">
                    Du har inga utkast.
                </div>
                <br />
            }
        </div>
    </div>
    <hr class="claim-divider" />

    <div class="row">
        <div class="col">
            <div class="second-page-header">
                Under handläggning
            </div>
            @if (Model.UnderReviewClaims?.Count() > 0)
            {
                <table class="table">
                    <tr>
                        <th class="small-col-ombud">
                            Referensnummer
                        </th>
                        <th class="small-col-ombud">
                            Inskickad datum
                        </th>
                        <th class="small-col-ombud">
                            Kundens personnummer
                        </th>
                        <th class="small-col-ombud">
                            Första sjukdag
                        </th>
                        <th class="small-col-ombud">
                            Sista sjukdag
                        </th>
                        <th class="medium-col">
                            Yrkat belopp (Kr)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.UnderReviewClaims)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.ReferenceNumber, "ShowClaimDetails", "Claims", new { referenceNumber = item.ReferenceNumber }, new { @class = "btn btn-primary btn-primary-small" })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StatusDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerSSN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QualifyingDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastDayOfSicknessDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClaimedSum)
                            </td>
                            <td>
                                @*@Html.ActionLink("Uppdatera", "Create", new { id = item.Id }, new { @class = "btn btn-success btn-success-small" }) |
                                    @Html.ActionLink("Ta bort", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-danger-small" }) |
                                    @Html.ActionLink("Skicka in", "SaveAmounts", new { id = item.Id }, new { @class = "btn btn-secondary btn-secondary-small" })*@
                                @*@Html.ActionLink("Uppdatera", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Detaljer", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Ta bort", "Delete", new { id = item.Id })*@
                            </td>
                        </tr>
                    }

                </table>
            }
            else
            {
                <div class="left-margin-23 font-size-16">
                    Du har inga ansökningar under handläggning.
                </div>
                <br />
            }
        </div>
    </div>
    <hr class="claim-divider" />

</body>
