@model Sjuklöner.Viewmodels.IndexPageAdmOffVM

@{
    ViewBag.Title = "Index";
}
<body>
    <div class="row index-page-margin">
        @*<p class="col col-md-2"></p>*@
        <p class="page-header col col-md-10">Ansökningar, handläggare</p>
        @*<nl class="col col-md-offset-2 font-size-12">Vård- och omsorgsförvaltningen i Helsingborgs kommun</nl>*@
    </div>

    <br />
    <br />
    @*<div class="row">
        <div class="col col-md-offset-2">
            @Html.ActionLink("Skapa ny ansökan", "Create")
        </div>
    </div>*@

    <hr class="claim-divider" />
    <div class="row">
        <div class="col">
            <div class="second-page-header">
                Inkorg
            </div>
            @if (Model.InInboxClaims?.Count() > 0)
            {
                <table class="table">
                    <tr>
                        <th class="small-col">
                            Referensnummer
                        </th>
                        <th class="small-col">
                            Inkommen datum
                        </th>
                        <th class="small-col">
                            Assistansbolag
                        </th>
                        <th class="small-col">
                            Assistentens personnummer
                        </th>
                        <th class="small-col">
                            Kundens personnummer
                        </th>
                        <th class="small-col">
                            Första sjukdag
                        </th>
                        <th class="small-col">
                            Sista sjukdag
                        </th>
                        <th class="small-col">
                            Antal sjukdagar
                        </th>
                        <th class="medium-col">
                            Yrkat belopp (Kr)
                        </th>
                        @*<th></th>*@
                    </tr>

                    @foreach (var item in Model.InInboxClaims)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.ReferenceNumber, "DecisionBoard", "Claims", new { id = item.Id }, new { @class = "btn btn-primary btn-primary-small" })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StatusDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CareCompany.CompanyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AssistantSSN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerSSN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QualifyingDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastDayOfSicknessDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumberOfSickDays)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClaimSum)
                            </td>
                            @*<td>
                                @Html.ActionLink("Uppdatera", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Detaljer", "Details", new { id = item.Id })
                                @Html.ActionLink("Ta bort", "Delete", new { id = item.Id })
                            </td>*@
                        </tr>
                    }

                </table>
            }
            else
            {
                <div class="left-margin-23 font-size-16">
                    Det finns inga ansökningar i inkorgen.
                </div>
                <br />
            }
        </div>
    </div>

    <hr class="claim-divider" />
    <div class="row">
        <div class="col">
            <div class="second-page-header">
                Under bearbetning
            </div>
            @if (Model.UnderReviewClaims?.Count() > 0)
            {
                <table class="table">
                    <tr>
                        <th class="small-col">
                            Referensnummer
                        </th>
                        <th class="small-col">
                            Inkommen datum
                        </th>
                        <th class="small-col">
                            Assistansbolag
                        </th>
                        <th class="small-col">
                            Assistentens personnummer
                        </th>
                        <th class="small-col">
                            Kundens personnummer
                        </th>
                        <th class="small-col">
                            Första sjukdag
                        </th>
                        <th class="small-col">
                            Sista sjukdag
                        </th>
                        <th class="small-col">
                            Antal sjukdagar
                        </th>
                        <th class="medium-col">
                            Yrkat belopp (Kr)
                        </th>
                        @*<th></th>*@
                    </tr>

                    @foreach (var item in Model.UnderReviewClaims)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.ReferenceNumber, "DecisionBoard", "Claims", new { id = item.Id }, new { @class = "btn btn-primary btn-primary-small" })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StatusDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CareCompany.CompanyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AssistantSSN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerSSN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QualifyingDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastDayOfSicknessDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumberOfSickDays)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClaimSum)
                            </td>
                            @*<td>
                                    @Html.ActionLink("Uppdatera", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Detaljer", "Details", new { id = item.Id })
                                    @Html.ActionLink("Ta bort", "Delete", new { id = item.Id })
                                </td>*@
                        </tr>
                    }

                </table>
            }
            else
            {
                <div class="left-margin-23 font-size-16">
                    Det finns inga ansökningar under bearbetning.
                </div>
                <br />
            }
        </div>
    </div>

    <hr class="claim-divider" />
    <div class="row">
        <div class="col">
            <div class="second-page-header">
                Avslagna
            </div>
            @if (Model.RejectedClaims?.Count() > 0)
            {
                <table class="table">
                    <tr>
                        <th class="small-col">
                            Referensnummer
                        </th>
                        <th class="small-col">
                            Avslagen datum
                        </th>
                        <th class="small-col">
                            Assistansbolag
                        </th>
                        <th class="small-col">
                            Assistentens personnummer
                        </th>
                        <th class="small-col">
                            Kundens personnummer
                        </th>
                        <th class="small-col">
                            Första sjukdag
                        </th>
                        <th class="small-col">
                            Sista sjukdag
                        </th>
                        <th class="small-col">
                            Antal sjukdagar
                        </th>
                        <th class="medium-col">
                            Yrkat belopp (Kr)
                        </th>
                        @*<th></th>*@
                    </tr>

                    @foreach (var item in Model.RejectedClaims)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.ReferenceNumber, "DecisionBoard", "Claims", new { id = item.Id }, new { @class = "btn btn-primary btn-primary-small" })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StatusDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CareCompany.CompanyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AssistantSSN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerSSN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QualifyingDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastDayOfSicknessDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumberOfSickDays)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClaimSum)
                            </td>
                            @*<td>
                                @Html.ActionLink("Uppdatera", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Detaljer", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Ta bort", "Delete", new { id = item.Id })
                            </td>*@
                        </tr>
                    }

                </table>
            }
            else
            {
                <div class="left-margin-23 font-size-16">
                    Det finns inga avslagna ansökningar.
                </div>
                <br />
            }
        </div>
    </div>
    <hr class="claim-divider" />

    @*<div class="row">
        <div class="col col-md-offset-2">
            <div class="second-page-header">
                Utkast
            </div>
            @if (Model.DraftClaims?.Count() > 0)
            {
                <table class="table">
                    <tr>
                        <th class="small-col">
                            Referensnummer
                        </th>
                        <th class="small-col">
                            Senaste statusändring
                        </th>
                        <th class="small-col">
                            Kundens personnummer
                        </th>
                        <th class="small-col">
                            Första sjukdag
                        </th>
                        <th class="small-col">
                            Sista sjukdag
                        </th>
                        <th class="medium-col">
                            Yrkat belopp (Kr)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.DraftClaims)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReferenceNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StatusDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerSSN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QualifyingDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastDayOfSicknessDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClaimSum)
                            </td>
                            <td>
                                @Html.ActionLink("Uppdatera", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Detaljer", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Ta bort", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }

                </table>
            }
            else
            {
                <div class="padding-left-no-claim">
                    Du har inga utkast.
                </div>
                <br />
            }
        </div>
    </div>
    <hr class="claim-divider col-md-offset-2" />*@

    

    <div class="row">
        <div class="col">
            <div class="second-page-header">
                Godkända
            </div>
            @if (Model.ApprovedClaims?.Count() > 0)
            {
                <table class="table">
                    <tr>
                        <th class="small-col">
                            Referensnummer
                        </th>
                        <th class="small-col">
                            Godkänd datum
                        </th>
                        <th class="small-col">
                            Assistansbolag
                        </th>
                        <th class="small-col">
                            Assistentens personnummer
                        </th>
                        <th class="small-col">
                            Kundens personnummer
                        </th>
                        <th class="small-col">
                            Första sjukdag
                        </th>
                        <th class="small-col">
                            Sista sjukdag
                        </th>
                        <th class="small-col">
                            Antal sjukdagar
                        </th>
                        <th class="medium-col">
                            Yrkat belopp (Kr)
                        </th>
                        <th class="medium-col">
                            Beslutat belopp (Kr)
                        </th>
                        @*<th></th>*@
                    </tr>

                    @foreach (var item in Model.ApprovedClaims)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.ReferenceNumber, "DecisionBoard", "Claims", new { id = item.Id }, new { @class = "btn btn-primary btn-primary-small" })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StatusDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CareCompany.CompanyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AssistantSSN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerSSN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QualifyingDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastDayOfSicknessDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumberOfSickDays)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClaimSum)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DecidedSum)
                            </td>
                            @*<td>
                                @Html.ActionLink("Uppdatera", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Detaljer", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Ta bort", "Delete", new { id = item.Id })
                            </td>*@
                        </tr>
                    }

                </table>
            }
            else
            {
                <div class="left-margin-23 font-size-16">
                    Det finns inga godkända ansökningar.
                </div>
                <br />
            }
        </div>
    </div>
    <hr class="claim-divider" />

</body>
