@model IEnumerable<Sjuklöner.Models.Claim>

@{
    ViewBag.Title = "Index";
}
<body>
    <div class="row index-page-margin">
        <p class="col col-md-2"></p>
        <p class="page-header col col-md-10">Ansökningar</p>
        <nl class="col col-md-offset-2 font-size-12">Vård- och omsorgsförvaltningen i Helsingborgs kommun</nl>
        @*<br>
            <p class="col col-md-offset-2 col-md-10 second-page-header">Steg 2: Ange arbetstid och jourtid</p>*@
    </div>
    <p>
        @*Html.ActionLink("Skapa ny ansökan", "Create")*@
    </p>
    <table class="table">
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.OwnerId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ReferenceNumber)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.StatusId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.StatusDate)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.DeadlineDate)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.CustomerFirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerLastName)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CustomerSSN)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.HourlySalary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HolidayPayRate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PayrollTaxRate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InsuranceRate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PensionRate)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.QualifyingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastDayOfSicknessDate)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.HoursQualifyingDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HolidayPayQualDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PayrollTaxQualDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InsuranceQualDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PensionQualDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClaimQualDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursDay2To14)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HourlySickPay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SickPayDay2To14)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HolidayPayDay2To14)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnsocialHoursBonusDay2To14)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OnCallDutyDay2To14)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PayrollTaxDay2To14)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InsuranceDay2To14)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PensionDay2To14)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClaimDay2To14)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ClaimedSum)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.OwnerId)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ReferenceNumber)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.StatusId)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.StatusDate)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.DeadlineDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerFirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerLastName)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerSSN)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.HourlySalary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HolidayPayRate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PayrollTaxRate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InsuranceRate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PensionRate)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.QualifyingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastDayOfSicknessDate)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.HoursQualifyingDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HolidayPayQualDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PayrollTaxQualDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InsuranceQualDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PensionQualDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClaimQualDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursDay2To14)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HourlySickPay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SickPayDay2To14)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HolidayPayDay2To14)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnsocialHoursBonusDay2To14)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OnCallDutyDay2To14)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PayrollTaxDay2To14)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InsuranceDay2To14)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PensionDay2To14)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClaimDay2To14)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ClaimedSum)
                </td>
                <td>
                    @Html.ActionLink("Uppdatera", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detaljer", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Ta bort", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</body>
