@model Sjuklöner.Viewmodels.ClaimAmountVM

@{
    ViewBag.Title = "Amount";
}
@section RobinRevealed
    {
    <script>
        window.onload = function (){
                document.getElementById("divRobin").style.top = "170px";
            };
    </script>
    <style type="text/css">
        body {
            overflow:hidden;
        }
    </style>   
}


<div class="row margin-breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item breadcrumb-font">@Html.ActionLink("Ansökningar", "Index", null, new { @class = "breadcrumb-padding" })</li>
            <li class="breadcrumb-item breadcrumb-font breadcrumb-padding">Organisationsnummer</li>
            <li class="breadcrumb-item breadcrumb-font breadcrumb-padding">Arbetstid</li>
            <li class="breadcrumb-item breadcrumb-font breadcrumb-padding">Belopp</li>
            <li class="breadcrumb-item active breadcrumb-font breadcrumb-padding" aria-current="page">Bekräftelse</li>
        </ol>
    </nav>
</div>

@*@using (Html.BeginForm("AddHours", "Claims", FormMethod.Get))*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ClaimNumber)
    
    @*<body class="assistant-claim">*@
    <div class="row">
        @*<p class="col col-md-2"></p>*@
        <p class="page-header4 col col-md-10">Tack för din ansökan!</p>
    </div>

    <div class="row">
        <div class="col">
            @*<p class="second-page-header-no-padding-left">Tack för din ansökan!</p>*@
            <p class="left-margin-18">Handläggningstiden är normalt tre arbetsdagar. Vid godkännande sker utbetalning till angivet konto en eller två bankdagar efter beslut.
            <br class="left-margin-18"/>Vid avslag har du möjlighet att överklaga och skicka in en uppdaterad ansökan inom tre veckor efter beslut.</p>
            <p></p>
            <p class="bold-14 left-margin-18">Referensnummer: @Model.ClaimNumber</p>
            <p class="bold-14 left-margin-18">Yrkat belopp (kr): @Model.ClaimSum</p>
            <p class="left-margin-18">Med vänliga hälsningar,<br class="left-margin-18"/>Vård- och omsorgsförvaltningen i Helsingborgs kommun</p>
        </div>
    </div>
    <div id="divRobin">
        <img src="~/Content/Robin_color.png" width="250" height="185" />
    </div>

    @*<div class="row">
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.SickPay, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SickPay, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SickPay, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.HolidayPay, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HolidayPay, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HolidayPay, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SocialFees, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SocialFees, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SocialFees, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PensionAndInsurance, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PensionAndInsurance, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PensionAndInsurance, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ClaimSum, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ClaimSum, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ClaimSum, "", new { @class = "text-danger" })
                </div>
            </div>*@



            @*@if (Model.Rejected)
                {
                    <div class="row">
                        <p class="col col-md-2"></p>
                        <p class="col col-md-10">@Model.RejectReason</p>
                    </div>
                }*@

            @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input class="btn btn-default" type="submit" value="Skicka in" id="assistance-claim-btn" />
                </div>
            </div>*@
            @*<div>
                @Html.ActionLink("Spara", "SaveAmounts", "Claims", new { sickPay = parSickPay, parHolidayPay = Model.HolidayPay,
                                parSocialFees = Model.SocialFees, parPensionAndInsurance = Model.PensionAndInsurance, parClaimSum = Model.ClaimSum,
                                parClaimReference = Model.ReferenceNumber }, new { @class = "btn btn-default" })
            </div>*@

            @*<br>
            <br>
            <br>

        </div>
    </div>*@
    @*</body>*@
}

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
