
@model Sjuklöner.Viewmodels.OmbudDeleteVM

@{
    ViewBag.Title = "Delete";
}
<div class="row index-page-margin">
    <p class="col col-md-2"></p>
    <p class="page-header8 col col-md-10">Ta bort ombudet</p>
    <nl class="col-small-left-padding col col-md-offset-2 font-size-16">Klicka på "Bekräfta" nedan för att ta bort detta ombud</nl>
</div>
<hr class="claim-divider" />

<div>
    <div class="row">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.FirstName)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.LastName)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(m => m.SSN, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.SSN)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </div>
    </div>

    @using (Html.BeginForm("DeleteOmbud", "Account", new { id = Model.Id }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row row-padding2">
            <div class="col-small-left-padding col col-md-offset-2 col-md-1">
                <input type="submit" value="Bekräfta" name="submitButton" class="btn btn-danger btn-danger-small" id="confirm" />
            </div>
            <div class="col-small-left-padding col col-md-1">
                <input class="btn btn-secondary btn-secondary-small" type="submit" name="submitButton" value="Avbryt" id="cancel" />
            </div>
        </div>
    }
</div>

