@model Sjuklöner.Models.AdmOffEditVM
@{
    /**/

    ViewBag.Title = "View";
}
@using (Html.BeginForm("EditAdmOff", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.HiddenFor(model => model.Id)
    @Html.AntiForgeryToken()
    <div class="row">
        <p class="col col-md-2"></p>
        <p class="page-header7 col col-md-10">Uppdatera handläggare</p>
    </div>
    <hr class="claim-divider" />
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger font-size-11" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger font-size-11" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SSN, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.SSN, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.SSN, "", new { @class = "text-danger font-size-11" })
        </div>
    </div>
    /*<div class="form-group">
        @Html.LabelFor(m => m.ConfirmSSN, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.ConfirmSSN, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>*/
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger font-size-11" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger font-size-11" })
        </div>
    </div>
    @*<div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger font-size-11" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger font-size-11" })
        </div>
    </div>*@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-1">
            <input type="submit" class="btn btn-primary btn-primary-small" value="Spara" />
        </div>
        <div class="small-padding-left3 col col-md-1">
            @Html.ActionLink("Avbryt", "IndexAdmOff", "Account", null, new { @class = "btn btn-secondary btn-secondary-small" })
        </div>
    </div>
}