@model Sjuklöner.Models.AdmOffIndexVM
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <p class="page-header5 col col-md-12">Handläggarlista</p>
</div>
@for (int i = 0; i < Model.AdmOffForVMList.Count(); i++)
{
    @Html.HiddenFor(model => model.AdmOffForVMList[i].Id)
}
<br />
<div class="row">
    <div class="col col-md-1">
        @Html.ActionLink("Ny handläggare", "NewAdmOff", "Account", null, new { @class = "btn btn-primary btn-primary4" })
    </div>
</div>
<br />
<hr class="claim-divider" />
<br />
@if (Model.AdmOffsExist)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdmOffForVMList[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdmOffForVMList[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdmOffForVMList[0].SSN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdmOffForVMList[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdmOffForVMList[0].PhoneNumber)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.AdmOffForVMList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SSN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.ActionLink("Uppdatera", "EditAdmOff", new { id = item.Id }) |
                    @Html.ActionLink("Detaljer", "DetailsOmbud", new { id = item.Id }) |
                    @Html.ActionLink("Ta bort", "DeleteOmbud", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="left-margin-23 font-size-16">
        Det finns inga handläggare.
    </div>
}
