@model Sjuklöner.Models.IndexAllOmbudsVM
@{
    ViewBag.Title = "IndexAllOmbuds";
}
<div class="row">
    <p class="page-header5 col col-md-12">Ombudlista</p>
</div>
<br />
@if (Model.CareCompanyList.Count > 0)
{
    <div class="row">
        <div class="col col-md-1">
            @Html.ActionLink("Nytt ombud", "CreateOmbud", null, new { @class = "btn btn-primary btn-primary3" })
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col col-md-10">
            <p>Det måste finnas minst ett assistansbolag för att kunna skapa ett nytt ombud.</p>
        </div>
    </div>
}
<br />
@for (int i = 0; i < Model.CareCompanyList.Count; i++)
{
    var ombuds = Model.OmbudList.Where(o => o.CareCompanyId == @Model.CareCompanyList[i].Id);
    if (ombuds.Any())
    {
        <hr class="claim-divider" />
        <p class="collective-agreement-header">@Model.CareCompanyList[i].CompanyName</p>
        <table class="table">
            <tr>
                <th class="medium-col-admin">
                    @Html.DisplayNameFor(model => model.OmbudList[0].FirstName)
                </th>
                <th class="slarge-col-admin">
                    @Html.DisplayNameFor(model => model.OmbudList[0].LastName)
                </th>
                <th class="small-col-admin">
                    @Html.DisplayNameFor(model => model.OmbudList[0].SSN)
                </th>
                <th class="large-col-admin">
                    @Html.DisplayNameFor(model => model.OmbudList[0].Email)
                </th>
                <th class="small-col-admin">
                    Telefonnummer
                    @*@Html.DisplayNameFor(model => model.OmbudList[0].PhoneNumber)*@
                </th>
                <th></th>
            </tr>
            @foreach (var item in ombuds)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SSN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @*@Html.ActionLink("Uppdatera", "EditOmbud", new { id = item.Id }) |*@
                        @Html.ActionLink("Uppdatera", "EditOmbud", "CareCompanies", new { id = item.Id }, null) |
                        @Html.ActionLink("Detaljer", "DetailsOmbud", "CareCompanies", new { id = item.Id }, null) |
                        @Html.ActionLink("Ta bort", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>
    }
}
@if (Model.CareCompanyList.Count == 0)
{
    <div class="left-margin-23 font-size-16">
        Det finns inga assistansbolag och ombud.
    </div>
}

<div class="row row-padding2">
    <div class="col-left-margin-6 col col-md-2">
        @Html.ActionLink("Tillbaka", "Index", "Home", null, new { @class = "btn btn-primary btn-primary-small" })
    </div>
</div>
