@model Sjuklöner.Viewmodels.CareCompanyDeleteVM

@{
    ViewBag.Title = "Delete";
}
<div class="row index-page-margin">
    <p class="col col-md-2"></p>
    <p class="page-header8 col col-md-10">Ta bort assistansbolaget</p>    
    <p class="second-page-header col col-md-10">Observera att alla ombud och assistenter som hör till detta bolag kommer att tas bort !</p>
    <p class="second-page-header col col-md-10">Dessutom kommer alla påbörjade ansökningar som inte har skickats in att tas bort !</p>
    <br />
    <br />
    <nl class="col col-md-offset-2 font-size-16">Klicka på "Bekräfta" nedan för att ta bort detta assistansbolag</nl>
</div>
<div>
    <hr class="claim-divider" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganisationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganisationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollectiveAgreementName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollectiveAgreementName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollectiveAgreementSpecName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollectiveAgreementSpecName)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "CareCompanies", new { id = Model.CareCompanyId }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="no-padding-left2 col col-md-offset-2 col-md-1">
                <input type="submit" value="Bekräfta" name="submitButton" class="btn btn-danger btn-danger-small" id="confirm" />
            </div>
            <div class="no-padding-left2 col col-md-1">
                <input class="btn btn-secondary btn-secondary-small" type="submit" name="submitButton" value="Avbryt" id="cancel" />
            </div>
        </div>
    }
</div>
