@model Sjuklöner.Viewmodels.CareCompanyDeleteVM

@{
    ViewBag.Title = "Delete";
}
<div class="row index-page-margin">
    <p class="col col-md-2"></p>
    <p class="page-header8 col col-md-10">Ta bort assistansbolaget</p>
    <p class="col-small-left-padding col col-md-offset-2 font-size-16 highlight-red-bold">
        Observera att alla ombud och assistenter som hör till detta bolag kommer att tas bort !
    </p>
    <p class="col-small-left-padding col col-md-offset-2 font-size-16 highlight-red-bold">
        Dessutom kommer alla påbörjade ansökningar som inte har skickats in att tas bort !
    </p>     
    <nl class="col-small-left-padding col col-md-offset-2 font-size-16">Klicka på "Bekräfta" nedan för att ta bort detta assistansbolag</nl>
</div>
<hr class="claim-divider" />

<div>
    <div class="row">
        @Html.LabelFor(model => model.CompanyName, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.CompanyName)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.OrganisationNumber, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.OrganisationNumber)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.StreetAddress, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.StreetAddress)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.Postcode, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.Postcode)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.City, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.City)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.AccountNumber, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.CompanyPhoneNumber, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.CompanyPhoneNumber)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.CollectiveAgreementName, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.CollectiveAgreementName)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.CollectiveAgreementSpecName, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.CollectiveAgreementSpecName)
        </div>
    </div>

    @using (Html.BeginForm("Delete", "CareCompanies", new { id = Model.CareCompanyId}, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="no-padding-left2 col col-md-offset-2 col-md-1">
                <input type="submit" value="Bekräfta" name="submitButton" class="btn btn-danger btn-danger-small" id="confirm" />
            </div>
            <div class="no-padding-left2 col col-md-1">
                <input class="btn btn-secondary btn-secondary-small" type="submit" name="submitButton" value="Avbryt" id="cancel" />
            </div>
        </div>
    }
</div>
