@model Sjuklöner.Viewmodels.OmbudEditVM

@{
    ViewBag.Title = "Details";
}
<div class="row index-page-margin">
    <p class="col col-md-2"></p>
    <p class="page-header8 col col-md-10">Detaljvy, ombud</p>
</div>
<div>
    <hr class="claim-divider" />
    <dl class="dl-horizontal">
        @if (User.IsInRole("Admin"))
        {
            <dt>
                @Html.DisplayNameFor(model => model.CareCompanyName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CareCompanyName)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
@if (User.IsInRole("Ombud"))
{
    <div class="row">
        <div class="col col-md-offset-2 col-md-1 col-no-left-padding">
            @Html.ActionLink("Tillbaka", "Index", null, new { @class = "btn btn-primary btn-primary-small" })
            @*Html.ActionLink("Tillbaka", "Index", null, new { @class = "btn btn-primary btn-primary-small" })*@
        </div>
    </div>
}
@if (User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col col-md-offset-2 col-md-1 col-no-left-padding">
            @Html.ActionLink("Tillbaka", "IndexAllOmbuds", "Account", null, new { @class = "btn btn-primary btn-primary-small" })         
            @*Html.ActionLink("Tillbaka", "IndexAllOmbuds", "Account", new { @class = "btn btn-primary btn-primary-small" }, null)*@
        </div>
    </div>
}
