@model Sjuklöner.Viewmodels.OmbudEditVM

@{
    ViewBag.Title = "Details";
}
<div class="row index-page-margin">
    <p class="col col-md-2"></p>
    <p class="page-header8 col col-md-10">Detaljvy, ombud</p>
</div>
<hr class="claim-divider" />
<div>
    @if (User.IsInRole("Admin"))
    {
        <div class="row">
            @Html.LabelFor(m => m.CareCompanyName, new { @class = "col-md-2 display-right-align control-label" })
            <div class="col-small-left-padding col-md-10">
                @Html.DisplayFor(model => model.CareCompanyName)
            </div>
        </div>
    }

    <div class="row">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.FirstName)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.LastName)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(m => m.SSN, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.SSN)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </div>
    </div>
</div>
    <div class="row row-padding2">
        <div class="col-small-left-padding col col-md-offset-2 col-md-1">
            @if (User.IsInRole("Admin"))
            {
                 @Html.ActionLink("Tillbaka", "IndexAllOmbuds", "Account", null, new { @class = "btn btn-primary btn-primary-small" })
            }
            @if (User.IsInRole("Ombud"))   
            {
                @Html.ActionLink("Tillbaka", "IndexOmbud", "CareCompanies", null, new { @class = "btn btn-primary btn-primary-small" })
            }
        </div>
    </div>



    