@model Sjuklöner.Viewmodels.CareCompanyDetailsVM

@{
    ViewBag.Title = "Details";
}
<div class="row index-page-margin">
    <p class="col col-md-2"></p>
    <p class="page-header8 col col-md-10">Detaljvy, assistansbolag</p>
</div>
<hr class="claim-divider" />

<div>
    <div class="row">
        @Html.LabelFor(model => model.CompanyName, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.CompanyName)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.OrganisationNumber, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.OrganisationNumber)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.StreetAddress, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.StreetAddress)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.Postcode, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.Postcode)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.City, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.City)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.AccountNumber, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.CompanyPhoneNumber, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.CompanyPhoneNumber)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.CollectiveAgreementName, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.CollectiveAgreementName)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.CollectiveAgreementSpecName, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.CollectiveAgreementSpecName)
        </div>
    </div>
</div>

<div class="row row-padding2">
    <div class="col-small-left-padding col col-md-offset-2 col-md-1">
        @Html.ActionLink("Tillbaka", "Index", null, new { @class = "btn btn-primary btn-primary-small" })   
    </div>
</div>


