@model Sjuklöner.Viewmodels.CareCompanyEditVM
@using Sjuklöner.Models

@{
    ViewBag.Title = "Edit";
}
<div class="row">
    <p class="page-header7 col col-md-offset-2 col-md-10">Uppdatera bolagsuppgifter</p>
</div>
<div class="row">
    <p class="col col-md-offset-2 col-md-10">Uppgifterna används vid ansökan om sjuklöneersättning</p>
</div>
<hr class="claim-divider" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger font-size-11" })
        @Html.HiddenFor(model => model.CareCompany.Id)
        @Html.HiddenFor(model => model.CareCompanyId)

        <div class="form-group">
            @Html.LabelFor(model => model.CareCompany.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CareCompany.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CareCompany.CompanyName, "", new { @class = "text-danger font-size-11" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CareCompany.OrganisationNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CareCompany.OrganisationNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CareCompany.OrganisationNumber, "", new { @class = "text-danger font-size-11" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CareCompany.StreetAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CareCompany.StreetAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CareCompany.StreetAddress, "", new { @class = "text-danger font-size-11" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CareCompany.Postcode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CareCompany.Postcode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CareCompany.Postcode, "", new { @class = "text-danger font-size-11" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CareCompany.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CareCompany.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CareCompany.City, "", new { @class = "text-danger font-size-11" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CareCompany.AccountNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CareCompany.AccountNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CareCompany.AccountNumber, "", new { @class = "text-danger font-size-11" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CareCompany.CompanyPhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CareCompany.CompanyPhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CareCompany.CompanyPhoneNumber, "", new { @class = "text-danger font-size-11" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CollectiveAgreement, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CareCompany.SelectedCollectiveAgreementId, new SelectList(@Model.CollectiveAgreement, "Value", "Text", Model.CareCompany.SelectedCollectiveAgreementId), new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CollectiveAgreement, "", new { @class = "text-danger font-size-11" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CareCompany.CollectiveAgreementSpecName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CareCompany.CollectiveAgreementSpecName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CareCompany.CollectiveAgreementSpecName, "", new { @class = "text-danger font-size-11" })
            </div>
        </div>
    </div>
    <div class="row row-padding2">
        <div class="col col-md-offset-2 col-md-1">
            <input class="btn btn-primary btn-primary-small" type="submit" name="submitButton" value="Spara" id="proceed" />
        </div>
        <div class="col col-md-2">
        @if (User.IsInRole("Ombud"))
        {
            @Html.ActionLink("Avbryt", "IndexPageOmbud", "Claims", null, new { @class = "btn btn-secondary btn-secondary-small" })
        }
        else
        {
            @Html.ActionLink("Avbryt", "Index", "Carecompanies", null, new { @class = "btn btn-secondary btn-secondary-small" })
        }

        </div>
    </div>   
}


