@model Sjuklöner.Models.Assistant

@{
    ViewBag.Title = "Delete";
}
<div class="row index-page-margin">
    <p class="col col-md-2"></p>
    <p class="page-header8 col col-md-10">Ta bort assistenten</p>
    <nl class="col col-md-offset-2 font-size-16">Klicka på "Bekräfta" nedan för att ta bort denna assistent</nl>
</div>
<div>
    <hr class="claim-divider" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CareCompany.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CareCompany.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssistantSSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssistantSSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HourlySalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HourlySalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HolidayPayRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HolidayPayRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayrollTaxRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayrollTaxRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PensionAndInsuranceRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PensionAndInsuranceRate)
        </dd>
    </dl>

    @using (Html.BeginForm("Delete", "Assistants", new { id = Model.Id }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="no-padding-left2 col col-md-offset-2 col-md-1">
                <input type="submit" value="Bekräfta" name="submitButton" class="btn btn-danger btn-danger-small" id="confirm" />
            </div>
            <div class="no-padding-left2 col col-md-1">
                <input class="btn btn-secondary btn-secondary-small" type="submit" name="submitButton" value="Avbryt" id="cancel" />
            </div>
        </div>
    }
</div>
