@model Sjuklöner.Models.Assistant

@{
    ViewBag.Title = "Details";
}
<div class="row index-page-margin">
    <p class="col col-md-2"></p>
    <p class="page-header8 col col-md-10">Detaljvy, assistent</p>
</div>
<div>
    <hr class="claim-divider" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CareCompany.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CareCompany.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssistantSSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssistantSSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HourlySalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HourlySalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HolidayPayRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HolidayPayRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayrollTaxRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayrollTaxRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PensionAndInsuranceRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PensionAndInsuranceRate)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col col-md-1 col-no-left-padding">
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Tillbaka", "IndexAllCompanies", null, new { @class = "btn btn-primary btn-primary-small" })
    }
    else
    {
        @Html.ActionLink("Tillbaka", "Index", null, new { @class = "btn btn-primary btn-primary-small" })
    }
    </div>
</div>
