@model Sjuklöner.Models.Assistant

@{
    ViewBag.Title = "Details";
}
<div class="row index-page-margin">
    <p class="col col-md-2"></p>
    <p class="page-header8 col col-md-10">Detaljvy, assistent</p>
</div>
<hr class="claim-divider" />

<div>
    <div class="row">
        @Html.LabelFor(m => m.CareCompany.CompanyName, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.CareCompany.CompanyName)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.FirstName)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.LastName)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(m => m.AssistantSSN, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.AssistantSSN)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(m => m.HourlySalary, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.HourlySalary)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(m => m.HolidayPayRate, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.HolidayPayRate)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(m => m.PayrollTaxRate, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.PayrollTaxRate)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(m => m.PensionAndInsuranceRate, new { @class = "col-md-2 display-right-align control-label" })
        <div class="col-small-left-padding col-md-10">
            @Html.DisplayFor(model => model.PensionAndInsuranceRate)
        </div>
    </div>
</div>

<div class="row row-padding2">
    <div class="col-small-left-padding col col-md-offset-2 col-md-1">
        @if (User.IsInRole("Admin"))
        {
        @Html.ActionLink("Tillbaka", "IndexAllCompanies", null, new { @class = "btn btn-primary btn-primary-small" })       
        }
        else
        {
        @Html.ActionLink("Tillbaka", "Index", null, new { @class = "btn btn-primary btn-primary-small" })
        }
    </div>
</div>

