@model Sjuklöner.Viewmodels.AssistantIndexVM
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <p class="page-header5 col col-md-12">Assistentlista</p>
</div>
<div class="row">
    <div class="form-group">
        <div class="col-md-6 bold-36">
            @Html.DisplayFor(model => model.CareCompanyName, null, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="col col-md-6">
    </div>
</div>
<div class="row">
    <div class="col col-md-1">
        @Html.ActionLink("Ny assistent", "Create", null, new { @class = "btn btn-primary btn-primary3" })
    </div>
</div>
<br />
<hr class="claim-divider" />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssistantList[0].FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssistantList[0].LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssistantList[0].AssistantSSN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssistantList[0].Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssistantList[0].PhoneNumber)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.HourlySalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HolidayPayRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollTaxRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PensionRate)
            </th>*@
        <th></th>
    </tr>
    @foreach (var item in Model.AssistantList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssistantSSN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.HourlySalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HolidayPayRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayrollTaxRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsuranceRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PensionRate)
                </td>*@
            <td>
                @Html.ActionLink("Uppdatera", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detaljer", "Details", new { id = item.Id }) |
                @Html.ActionLink("Ta bort", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
