@model Sjuklöner.Viewmodels.CollectiveAgreementCreateVM

@{
    ViewBag.Title = "Create";
}
@if (Model.NewAgreement)
{
    <div class="row">
        <p class="col col-md-2"></p>
        <p class="page-header6 col col-md-10">Lägg till kollektivavtal och ersättningsbelopp</p>
        <br>
    </div>
}
else
{
    <div class="row">
        <p class="col col-md-2"></p>
        <p class="page-header6 col col-md-10">Lägg till ersättningsbelopp</p>
        <br>
    </div>
}
<div class="row">
    <p class="col col-md-2"></p>
    <p class="col col-md-10 col-padding-17">Uppgifterna används vid beräkning av kontrollbelopp</p>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.NewAgreement)
    @Html.HiddenFor(model => model.HeaderId)
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    if (Model.NewAgreement)
    {
        <div class="row row-height-50">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2 display-right-align2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col col-md-5">
            </div>
        </div>
    }
    else
    {
        @Html.HiddenFor(model => model.Name)
        <div class="row row-height-50">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2 display-right-align2" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="col col-md-5">
            </div>
        </div>
    }
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2 display-right-align2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PerHourUnsocialEvening, htmlAttributes: new { @class = "control-label col-md-2 display-right-align2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.PerHourUnsocialEvening, new { htmlAttributes = new { @class = "form-control", @placeholder = "00,00" } })
                @Html.ValidationMessageFor(model => model.PerHourUnsocialEvening, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2 display-right-align2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PerHourUnsocialNight, htmlAttributes: new { @class = "control-label col-md-2 display-right-align2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.PerHourUnsocialNight, new { htmlAttributes = new { @class = "form-control", @placeholder = "00,00" } })
                @Html.ValidationMessageFor(model => model.PerHourUnsocialNight, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.PerHourOnCallWeekday, htmlAttributes: new { @class = "control-label col-md-2 display-right-align2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.PerHourOnCallWeekday, new { htmlAttributes = new { @class = "form-control", @placeholder = "00,00" } })
                @Html.ValidationMessageFor(model => model.PerHourOnCallWeekday, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PerHourUnsocialWeekend, htmlAttributes: new { @class = "control-label col-md-2 display-right-align2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.PerHourUnsocialWeekend, new { htmlAttributes = new { @class = "form-control", @placeholder = "00,00" } })
                @Html.ValidationMessageFor(model => model.PerHourUnsocialWeekend, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.PerHourOnCallWeekend, htmlAttributes: new { @class = "control-label col-md-2 display-right-align2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.PerHourOnCallWeekend, new { htmlAttributes = new { @class = "form-control", @placeholder = "00,00" } })
                @Html.ValidationMessageFor(model => model.PerHourOnCallWeekend, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PerHourUnsocialHoliday, htmlAttributes: new { @class = "control-label col-md-2 display-right-align2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.PerHourUnsocialHoliday, new { htmlAttributes = new { @class = "form-control", @placeholder = "00,00" } })
                @Html.ValidationMessageFor(model => model.PerHourUnsocialHoliday, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col col-md-offset-2 col-md-1">
                <input class="btn btn-primary btn-primary-small" type="submit" name="submitButton" value="Spara" id="proceed" />
            </div>
            <div class="col col-md-2">
                @Html.ActionLink("Avbryt", "Index", "CollectiveAgreements", null, new { @class = "btn btn-secondary btn-secondary-small" })
            </div>
        </div>
    </div>
}
