@model Sjuklöner.Viewmodels.CollectiveAgreementEditVM

@{
    ViewBag.Title = "Edit";
}
<div class="row">
    <p class="page-header5 col col-md-12">Uppdatera kollektivavtal och ersättningsbelopp</p>
</div>
<div class="row">
    <p class="col col-md-12 col-left-margin-6">Uppgifterna används vid beräkning av kontrollbelopp</p>
</div>
<hr class="claim-divider" />
<br />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CollAgreementHeader.Id)
    @Html.HiddenFor(model => model.CollAgreementHeader.Counter)
    @Html.HiddenFor(model => model.Type)
    for (int i = 0; i < Model.CollAgreementInfo.Count(); i++)
    {
        @Html.HiddenFor(model => model.CollAgreementInfo[i].Id)
    }
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    if (Model.Type == "header")
    {
        <p class="collective-agreement-header">
            @Html.DisplayNameFor(model => model.CollAgreementHeader.Name)
        </p>
        <div class="row">
            <div class="col col-md-6 table-large-font col-padding-20">
                @Html.EditorFor(model => model.CollAgreementHeader.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CollAgreementHeader.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<table class="table-no-border table table-no-margin-bottom">
                <tr>
                    <th class="table-no-border table-large-font">
                        @Html.DisplayNameFor(model => model.CollAgreementHeader.Name)
                    </th>
                </tr>
                <tr>
                    <td class="table-no-border large-table-font table-wide-column">
                        @Html.EditorFor(model => model.CollAgreementHeader.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CollAgreementHeader.Name, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>*@
    }
    else
    {
        @*<div class="row">
            <div class="col col-md-8 collective-agreement-header">*@
        <p class="collective-agreement-header">
            @Model.CollAgreementHeader.Name
        </p>
        @*</div>
            </div>*@
        @*<div class="row table-large-font">
                @Model.CollAgreementHeader.Name
            </div>*@
        @*<table class="table-no-border table table-no-margin-bottom">
                <tr>
                    <th class="table-no-border table-large-font">
                        @Model.CollAgreementHeader.Name
                    </th>
                </tr>
            </table>*@
    }
    @*<div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.CollAgreementHeader.Name, htmlAttributes: new { @class = "control-label col-md-2 display-right-align" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.CollAgreementHeader.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CollAgreementHeader.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col col-md-6">
            </div>
        </div>*@
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CollAgreementInfo[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollAgreementInfo[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollAgreementInfo[0].PerHourUnsocialEvening)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollAgreementInfo[0].PerHourUnsocialNight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollAgreementInfo[0].PerHourUnsocialWeekend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollAgreementInfo[0].PerHourUnsocialHoliday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollAgreementInfo[0].PerHourOnCallWeekday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollAgreementInfo[0].PerHourOnCallWeekend)
            </th>
        </tr>
        @for (int i = 0; i < Model.CollAgreementInfo.Count(); i++)
        {
            <tr>
                <td>
                    @Html.EditorFor(model => model.CollAgreementInfo[i].StartDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CollAgreementInfo[i].StartDate, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.CollAgreementInfo[i].EndDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CollAgreementInfo[i].EndDate, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.CollAgreementInfo[i].PerHourUnsocialEvening, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CollAgreementInfo[i].PerHourUnsocialEvening, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.CollAgreementInfo[i].PerHourUnsocialNight, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CollAgreementInfo[i].PerHourUnsocialNight, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.CollAgreementInfo[i].PerHourUnsocialWeekend, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CollAgreementInfo[i].PerHourUnsocialWeekend, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.CollAgreementInfo[i].PerHourUnsocialHoliday, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CollAgreementInfo[i].PerHourUnsocialHoliday, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.CollAgreementInfo[i].PerHourOnCallWeekday, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CollAgreementInfo[i].PerHourOnCallWeekday, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.CollAgreementInfo[i].PerHourOnCallWeekend, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CollAgreementInfo[i].PerHourOnCallWeekend, "", new { @class = "text-danger" })
                </td>
            </tr>
        }
    </table>
    <div class="row">
        <div class="form-group">
            <div class="col col-md-1">
                <input class="btn btn-primary btn-primary-small btn-left-margin-22" type="submit" name="submitButton" value="Spara" id="proceed" />
            </div>
            <div class="col col-md-2 col-left-margin-18">
                @Html.ActionLink("Avbryt", "Index", "CollectiveAgreements", null, new { @class = "btn btn-secondary btn-secondary-small" })
            </div>
        </div>
    </div>
}
